/*
Este script se creó con Visual Studio el 29/07/2015 a las 11:01.
Ejecute el script en 10.80.11.60.HCDIS_Desarrollo (sa) para que sea igual que HCDISBE01.HCDISBASE_Metadatos_SOLO (sa).
Este script realiza las acciones en el siguiente orden:
1. Deshabilita las restricciones de clave externa.
2. Ejecuta los comandos DELETE. 
3. Ejecuta los comandos UPDATE.
4. Ejecuta los comandos INSERT.
5. Habilita de nuevo las restricciones de clave externa.
Realice una copia de seguridad de la base de datos de destino antes de ejecutar este script.
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
/*Puntero usado para actualizaciones de texto o imágenes. Puede que no sea necesario, pero se declara aquí por si lo fuera*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7662
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7663
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7664
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7665
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7666
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7667
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7668
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7669
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7670
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7671
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7672
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7673
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7765
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7766
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7767
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7768
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7769
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7770
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7771
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7772
DELETE FROM [dbo].[EACAttribute] WHERE [ID]=7773
DELETE FROM [dbo].[EACElement] WHERE [ID]=404
DELETE FROM [dbo].[EACElement] WHERE [ID]=410
SET IDENTITY_INSERT [dbo].[EACElement] ON
INSERT INTO [dbo].[EACElement] ([ID], [ElementType], [Name], [ModuleName], [Description], [Status]) VALUES (688, 2, N'NurseStationListViewDTO', N'', N'Estación de enfermería v2', 2)
INSERT INTO [dbo].[EACElement] ([ID], [ElementType], [Name], [ModuleName], [Description], [Status]) VALUES (689, 1, N'InvoiceConfigAgreementRelEntity', N'', N'Acuerdos de Facturación.', 2)
INSERT INTO [dbo].[EACElement] ([ID], [ElementType], [Name], [ModuleName], [Description], [Status]) VALUES (690, 1, N'RemittanceConfigAgreementRelEntity', N'', N'Acuerdos de Facturación de Remesa.', 2)
SET IDENTITY_INSERT [dbo].[EACElement] OFF
SET IDENTITY_INSERT [dbo].[EACAttributeOption] ON
INSERT INTO [dbo].[EACAttributeOption] ([ID], [EACAttributeID], [Description], [Value], [Status]) VALUES (275, 15747, N'Hospitalizados', N'HDD MEDICO', 2)
INSERT INTO [dbo].[EACAttributeOption] ([ID], [EACAttributeID], [Description], [Value], [Status]) VALUES (276, 15747, N'Hospitalizados', N'HDD QUIRURGICO', 2)
INSERT INTO [dbo].[EACAttributeOption] ([ID], [EACAttributeID], [Description], [Value], [Status]) VALUES (277, 15747, N'Hospitalizados', N'HOSPITALIZACION', 2)
SET IDENTITY_INSERT [dbo].[EACAttributeOption] OFF
SET IDENTITY_INSERT [dbo].[EACAttribute] ON
INSERT INTO [dbo].[EACAttribute] ([ID], [EACElementID], [Name], [Description], [Type], [TypeName], [ComponentType], [DesignRequired], [Design], [HasOptions], [HasCodeGenerator], [Required], [Visible], [Enabled], [Length], [Index], [ValidationMask], [DisplayMask], [InputMask], [DefaultValue], [CodeGenerator], [Status]) VALUES (15683, 337, N'ShowMode', N'Modo de visualización de la vista:
1 - Ambos modos
2 - Lista
3 - Agenda', 0, N'', 0, 0, 1, 0, 0, 0, 1, 1, 0, -1, N'', N'', N'', N'1', N'', 2)
INSERT INTO [dbo].[EACAttribute] ([ID], [EACElementID], [Name], [Description], [Type], [TypeName], [ComponentType], [DesignRequired], [Design], [HasOptions], [HasCodeGenerator], [Required], [Visible], [Enabled], [Length], [Index], [ValidationMask], [DisplayMask], [InputMask], [DefaultValue], [CodeGenerator], [Status]) VALUES (15684, 188, N'BillGroupingMode', N'Modo de Agrupación', 7, N'SII.HCD.BackOffice.Entities.BillGroupingModeEnum,SII.HCD.BackOffice.Entities', 0, 0, 1, 0, 0, 0, 1, 1, 0, -1, N'', N'', N'', N'', N'', 2)
SET IDENTITY_INSERT [dbo].[EACAttribute] OFF
COMMIT TRANSACTION
