ALTER TABLE dbo.ProcedureResourceRel 
DROP CONSTRAINT FK_ProcedureResourceRel_ItemGroup; 
GO
ALTER TABLE dbo.RoutineResourceRel 
DROP CONSTRAINT FK_RoutineResourceRel_ItemGroup; 
GO
DROP TABLE [dbo].[ItemGroup]
GO
/****** Object:  Table [dbo].[ItemGroup]    Script Date: 04/29/2016 10:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Status] [smallint] NOT NULL,
	[ModifiedBy] [nvarchar](256) NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[DBTimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_ItemGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemGroup] ON
INSERT [dbo].[ItemGroup] ([ID], [Code], [Description], [Status], [ModifiedBy], [LastUpdated]) VALUES (898, N'A01AA', N'PREPARADOS PARA PROFILAXIS DE CARIES', 1, N'CARGA_INICIAL', CAST(0x0000A5F700962F70 AS DateTime))
INSERT [dbo].[ItemGroup] ([ID], [Code], [Description], [Status], [ModifiedBy], [LastUpdated]) VALUES (899, N'A01AB', N'ANTIINFECCIOSOS Y ANTISÉPTICOS PARA TRATAMIENTO ORAL LOCAL', 1, N'CARGA_INICIAL', CAST(0x0000A5F700962F70 AS DateTime))
INSERT [dbo].[ItemGroup] ([ID], [Code], [Description], [Status], [ModifiedBy], [LastUpdated]) VALUES (900, N'A01AC', N'CORTICOSTERIODES PARA TRATAMIENTO ORAL LOCAL', 1, N'CARGA_INICIAL', CAST(0x0000A5F700962F71 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
SET IDENTITY_INSERT [dbo].[ItemGroup] OFF

