<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="insurerSettings" type="SII.HCD.Addin.Generic.InsurerConfigurationSection, SII.HCD.Addin.Generic" requirePermission="true" />
    <section name="doctorNotesSection" type="SII.HCD.Addin.Generic.DoctorsNoteAddinConfiguration, SII.HCD.Addin.Generic" requirePermission="true" />
    <section name="authorizationTypeSection" type="SII.HCD.Addin.Generic.DefaultAuthorizationTypeConfiguration, SII.HCD.Addin.Generic" requirePermission="true" />
  </configSections>
  <insurerSettings>
    <insurerSettings>
      <Insurer>
        <add code="440" name="IMQ" />
        <add code="460" name="ADESLAS" />
      </Insurer>
    </insurerSettings>
  </insurerSettings>
  <doctorNotesSection default="default" >
    <doctorNotes>
      <add name="default" title="Justificante de intervenciones"
                     report="Addins\Generic\Reports\IBJustificante_IntervencionVB.rdlc"
                     petitionerRequired="false"
                     identifierRequired="false"
                     dateRequired="false"
                     identifierValidator="SII.HCD.Addin.Generic.NIFValidator,SII.HCD.Addin.Generic"
                     dateSelectionMode="All">
        <!-- dateSelectionMode: [None, MedicalOrder, Manual, All] -->
        <orderTypes>
          <add code="INTVQUIRURGICAS"/>
          <add code="DIAGIMG" />
        </orderTypes>
      </add>
      <add name="estanciaHOS" title="Justificante de ingreso HOS"
                     report="Addins\Generic\Reports\IBCertificadoEstanciaVirgenBlanca.rdlc"
                     petitionerRequired="false"
                     identifierRequired="false"
                     dateRequired="false"
                     identifierValidator="SII.HCD.Addin.Generic.NIFValidator,SII.HCD.Addin.Generic"
                     dateSelectionMode="None">
        <orderTypes>
        </orderTypes>
      </add>
      <add name="estanciaURG" title="Justificante de ingreso URG"
                 report="Addins\Generic\Reports\IBCertificadoEstanciaVB_URG.rdlc"
                 petitionerRequired="false"
                 identifierRequired="false"
                 dateRequired="false"
                 identifierValidator="SII.HCD.Addin.Generic.NIFValidator,SII.HCD.Addin.Generic"
                 dateSelectionMode="None">
        <orderTypes>
        </orderTypes>
      </add>
      <add name="Justificantes" title="Justificante de prueba RX"
                 report="Addins\Generic\Reports\IBJustificante_RX_VB.rdlc"
                 petitionerRequired="false"
                 identifierRequired="false"
                 dateRequired="false"
                 identifierValidator="SII.HCD.Addin.Generic.NIFValidator,SII.HCD.Addin.Generic"
                 dateSelectionMode="None">
        <orderTypes>
        </orderTypes>
      </add>
      <add name="FisioRehabi" title="Certificado de estancia"
                 report="Addins\Generic\Reports\IBCertificadoEstanciaVirgenBlanca.rdlc"
                 petitionerRequired="false"
                 identifierRequired="false"
                 dateRequired="false"
                 identifierValidator="SII.HCD.Addin.Generic.NIFValidator,SII.HCD.Addin.Generic"
                 dateSelectionMode="None">
        <orderTypes>
        </orderTypes>
      </add>
      <add name="HospitalDia" title="Certificado de asistencia"
                report="Addins\Generic\Reports\IBJustificanteConsultasExternasVB.rdlc"
                petitionerRequired="false"
                identifierRequired="false"
                dateRequired="false"
                identifierValidator="SII.HCD.Addin.Generic.NIFValidator,SII.HCD.Addin.Generic"
                dateSelectionMode="None">
        <orderTypes>
        </orderTypes>
      </add>

    </doctorNotes>
  </doctorNotesSection>
  <authorizationTypeSection centerAuthorizationType="centerAuthorizationType" >
    <insurers>
      <add insurer="IGUALATO.MEDI.QUIRU.S.A DE SEGUR.Y REASE" authorizationType="CHIPCARD"/>
    </insurers>
  </authorizationTypeSection>
      
  <appSettings>
    <!-- IdentificationLookup parameters-->
    <add key="SwipeCulture" value="" />
    <!--<add key="SwipeCulture" value ="en-US"/>-->
    <!--<add key="SwipeCulture" value ="es-ES"/>-->
    <add key="CardSwipeSecondsTimeout" value="30" />
    <!--true para activar la lectura manual-->
    <add key="ManualReadAllowed" value="true" />
    <!-- Codigo identificativo de tarjeta sanitaria española -->
    <add key="SpanishCodeChar" value="8" />
    <!-- Codigo identificativo de pais -->
    <add key="CountryCode" value="034" />
    <!--Indica cual es el código por defecto que se selecciona en el desplegable en modo manual-->
    <add key="DefaultInsurerCode" value="440" />

    <!-- ObservationImageViewer parameters-->
    <!-- MediaServerCommand: Comando parametrizado a ejecutar para visualización de imágenes -->
    <add key="MediaServerCommand" value="https://agfaapps.domsssa.com/resultsviewer/emr.aspx?Action=Display&amp;user=Isoft&amp;password=Isoft123&amp;domain=Agfa%20Healthcare&amp;patientid={CHNumber}&amp;accession={OrderIdentifier}" />
    <!-- MediaServerFreezes: Comportamiento del visor respecto a HCDIS -->
    <!-- true: HCDIS queda a la espera de que se cierre el visor. Mientras tanto HCDIS no es accesible por el usuario. No funciona con navegadores. -->
    <!-- false: HCDIS en accesible en paralelo con el visor -->
    <add key="MediaServerFreezes" value="true" />
    <!-- Si este parámetro no se configura el AddIn utiliza una imagen por defecto. -->
    <add key="MediaServerDefaultThumbnail" value="images\Device32.png" />

    <!-- Addin credentials-->
    <add key="HCDISUserName"  value="Administrador" />
    <add key="HCDISPassword"  value="IBimq*ADMIN" />

    <add key="HOSPITALIZACION"  value="INGRESOS" />
    <add key="HOSPITALDEDIA"  value="HOSPITAL DE DIA" />
    <add key="AMBULATORIO"  value="AMBULATORIO" />
    <add key="URGENCIAS"  value="URGENCIAS" />
    <add key="RADIOLOGIA"  value="RADIOLOGIA" />
    <add key="FISIOTERAPIA"  value="TRATAMIENTOS" />
    <add key="REHABILITACION"  value="CONSULTAS EXTERNAS" />
    
    <!-- Default authorization comment -->
    <add key="DefaultAuthorizationComment" value="[Created by Authorization Addin]"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="InvoiceValidationSetup">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="Common.ElementService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="Assistance.ActivityService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BackOffice.AuthorizationTypeService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="Administrative.CustomerEpisodeService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BackOffice.HistoryCareCenterService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BackOffice.HistoryInsurerCoverAgreementService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8089/invoiceValidationSetup/InvoiceValidationSetupService.svc"
        binding="netTcpBinding" bindingConfiguration="InvoiceValidationSetup"
        contract="HCDIS.InvoiceValidationSetup.IInvoiceValidationSetupService"
        name="InvoiceValidationSetup">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/common/Element/ElementService.svc"
        binding="netTcpBinding" bindingConfiguration="Common.ElementService"
        contract="HCDIS.ElementService.IElementService" name="Common.ElementService">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/backoffice/AuthorizationType/AuthorizationTypeService.svc"
        binding="netTcpBinding" bindingConfiguration="BackOffice.AuthorizationTypeService"
        contract="HCDIS.AuthorizationType.IAuthorizationTypeService"
        name="BackOffice.AuthorizationTypeService">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/administrative/CustomerEpisode/CustomerEpisodeService.svc"
        binding="netTcpBinding" bindingConfiguration="Administrative.CustomerEpisodeService"
        contract="HCDIS.CustomerEpisode.ICustomerEpisodeService" name="Administrative.CustomerEpisodeService">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/backoffice/HistoryCareCenter/HistoryCareCenterService.svc"
        binding="netTcpBinding" bindingConfiguration="BackOffice.HistoryCareCenterService"
        contract="HCDIS.HistoryCareCenter.IHistoryCareCenterService"
        name="BackOffice.HistoryCareCenterService">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/backoffice/HistoryInsurerCoverAgreement/HistoryInsurerCoverAgreementService.svc"
        binding="netTcpBinding" bindingConfiguration="BackOffice.HistoryInsurerCoverAgreementService"
        contract="HCDIS.HistoryInsurerCoverAgreement.IHistoryInsurerCoverAgreementService"
        name="BackOffice.HistoryInsurerCoverAgreementService">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/assistance/Activity/ActivityService.svc"
        binding="netTcpBinding" bindingConfiguration="Assistance.ActivityService"
        contract="HCDIS.Activity.IActivityService" name="Assistance.ActivityService">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
