<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HCD" providerName="System.Data.SqlClient" connectionString="Server=(local);Initial Catalog=HCDIS;Integrated Security=true;MultipleActiveResultSets=True"/>
    <add name="HCDTests" providerName="System.Data.SqlClient" connectionString="Server=(local);Initial Catalog=HCDIS;Integrated Security=true;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>
