<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <clear/>
  <add key="SecurityDB" value="Security" />
  <add key="ConfigurationDB" value="Configuration" />
  <add key="HCDDB" value="HCDDB" />
  <add key="DashboardDB" value="HCDDB" />
  <add key="LOPDDB" value="HCDAudit" />
  <add key="SecurityServiceType" value="SII.SIFP.Security.SecurityService, SIFP.Security" />
  <add key="H2K" value="H2K" />
  <!--<add key="DrugsDB" value="DrugsDBConnection"/>-->

  <add key="ServiceName" value="HCDIS.Services"/>
  <add key="ServiceDescription" value="HCDIS Services"/>

  <!-- HCDDRUGSActive indica si se ha establecido comunicación con la base de datos HCDDRUGS desde HCDIS -->
  <!--   true: Comunicación activa -->
  <!--   false: Comunicación inactiva (POR DEFECTO)-->
  <!--<add key ="HCDDRUGSActive" value ="false"/>-->
  
  <!--AgreementCacheActive indica si se activa la cache de acuerdos en los procesos de anbálisis de coverturas-->
  <!--   true: Cache activa -->
  <!--   false: Cache inactiva -->
  <add key="AgreementCacheActive" value ="false"/>

  <!-- FileStorageRoot indica la carpeta donde se almacenarán los documentos si se activa el interfaz para -->
  <!-- gestionarlos en el sistema de ficheros. Si se activa el interfaz que los gestiona en base de datos -->
  <!-- este parámetro no tiene efecto-->
  <add key="FileStorageRoot" value =".\Files" />
  <add key="DocumentTemplateExtensionsPath" value="AddIns\DocumentHandlers"/>
  <add key="AlternativeCodeGeneratorReturnedInvoice" value="Abono"/>
  <!-- gestionarlos los códigos de Intervenciones de los grupos de actos y el Enconder CIE para los diagnosticos -->
  <!-- por ahora se está utilizando en la exportacion de facturas -->
  <add key="InterventionGroupActCode" value="05"/>
  <add key="CIEEpisodeReasonEncoder" value="CIE"/>
  <add key="InpatientEpisodeCode" value="ING"/>
  <add key="UrgentEpisodeCode" value="URG"/>
  <add key="IdentifierTypeName" value="CODIGO HOSPITAL 2000"/>
  <!-- insurers code para validad las autorizaciones y los policy type en la exportacion de facturas -->
  <add key="AdeslasH2KCode" value="0002"/>
  <add key="SanitasH2KCode" value="0004"/>
  <add key="MapfreH2KCode" value="0046"/>

  <!--"PersonNameFormat": Indica el formato de representacion de nombres completos. En su ausencia se aplica el formato por defecto. -->
  <!--  'None' ó '0' : Aplica el valor por defecto: Nombre Apellido1 Apellido2 -->
  <!--  'FirstName_LastName' ó '1' : Nombre Apellido1 -->
  <!--  'FirstName_LastName_LastName2' ó '2' : Nombre Apellido1 -->
  <!--  'LastName_LastName2_FirstName' ó '3' : Apellido1 Apellido2 Nombre -->
  <!--  'LastName_LastName2_Comma_FirstName' ó '4' : Apellido1 Apellido2, Nombre -->
  <add key="PersonNameFormat" value="LastName_LastName2_Comma_FirstName"/>

  <!-- Permite definir la cultura con la que se ejecuta el servicio y por tanto el idoma de los mensajes asociados -->
  <add key="Culture" value="es-ES"/>
  <!--<add key="Culture" value="en-US"/>-->

  <!-- Permite definir la ruta predeterminada de los servicios de HCDIS -->
  <add key="DefaultServiceURL" value ="net.tcp://localhost:8089"/>

  <!-- Define si se admiten solicudes de enfermería en farmacia -->
  <!-- Valor por defecto: true -->
  <add key="AllowNurseRequest" value ="true"/>

  <!-- Define si es obligaotrio validar desde farmacia las prescripciones de medicación para el cálculo de las reposiciones por prescripción -->
  <!-- Valor por defecto: false -->
  <add key="RequiresPrescriptionValidation" value ="true"/>

  <!-- Define si se genera el gasto de los articulos prescriptos al completar la reposiciones por prescripcion -->
  <!-- Valor por defecto: false -->
  <add key="ReplenishmentCompletedGenerateSupplyOfPerscription" value ="true"/>

  <!-- Define la opción predeterminada en el momento de gestionar la facturación de albaranes -->
  <!--  PreInvoice o 1: Pre-facturar -->
  <!--  Invoice o 2: Facturar -->
  <!--  Print o 3: Facturar e imprimir (es la opción predeterminada) -->
  <add key ="DefaultInvoicingMode" value="Print"/>

  <!-- Define el tipo de código para aseguradoras usado para codificar acuerdos -->
  <!-- Valor por defecto: AgreementInsurerCode -->
  <add key="AgreementInsurerCode" value ="CODIGO ASEGURADORA"/>

  <!-- Define la opciónes que se van a utilizar en las compras de medicamentos -->
  <!--  TraceabilityOfDrugs o 0 : Solo se puede comprar medicamentos y parafarmacia. La trasformación de medicamentos a unidosis se realiza a traves de trasformaciones -->
  <!--  TransformationOfDrugsInPurchases o 1 : Solo se puede comprar medicamentos y parafarmacia. Los medicamento se trasforman a unidosis desde las compras -->
  <!--  OnlyUnidosis o 2 : Solo se puede comprar unidosis y parafarmacia. -->
  <add key ="TreatmentPurchasesMode" value="OnlyUnidosis"/>

  <!-- Establece excepciones en el tratamiento de incidencias durante un análisis de cobertura automática -->
  <!-- Por defecto, cualquier incidencia impide que se complete cualquier análisis de cobertura automático -->
  <!-- Si este parámetro de configuración no existe, se asumirá que no hay ninguna excepción -->
  <!-- En el caso de incluir alguna excepción, el análisis e cobertura automático se completara cuando TODAS las incidencias 
       que se produzcan se encuentren entre las excepciones configuradas 
       
        Ejemplos:
          Distintas formas de excluir excepciones en autorizaciones de centro
          <add key="AutomaticCoverAnalysisIssueExceptions" value="AuthorizationRequiredForAgreement,AuthorizationRequiredForAssistanceAgreement"/>          
          <add key="AutomaticCoverAnalysisIssueExceptions" value="AuthorizationRequiredForAgreement | AuthorizationRequiredForAssistanceAgreement"/>          
          <add key="AutomaticCoverAnalysisIssueExceptions" value="AuthorizationRequiredForAgreement AuthorizationRequiredForAssistanceAgreement"/>          

          <add key="AutomaticCoverAnalysisIssueExceptions" value="0x00004000 0x00010000"/>          
          <add key="AutomaticCoverAnalysisIssueExceptions" value="0x00014000"/>  (Suma hexadecimal de 0x00004000+0x00010000)
          <add key="AutomaticCoverAnalysisIssueExceptions" value="81920"/>  (Suma decimal de 0x00004000+0x00010000)
      
        Valores disponibles
            NoCustomerEpisode =                                 0x00000001,
            NoCustomerAccountCharges =                          0x00000002,

            NoAgreements =                                      0x00000004,
            NoInsurerAgreementConditions =                      0x00000008,
            NoAgreementConditions =                             0x00000010,
            NoChargesCovered =                                  0x00000020,

            NoChargeInsurerConditionUnfulfilled =               0x00000040,
            NoChargeAssistanceCenterConditionUnfulfilled =      0x00000080,
            NoChargeInsurerAgreementConditionUnfulfilled =      0x00000100,
            NoChargeAgreementConditionUnfulfilled =             0x00000200,
            NoChargeInsurerCoverAgreementConditionUnfulfilled = 0x00000800,
            NoChargeAssistanceAgreementConditionUnfulfilled =   0x00001000,

            AuthorizationRequiredForInsurerAgreement =          0x00002000,
            AuthorizationRequiredForAgreement =                 0x00004000,
            AuthorizationRequiredForInsurerCoverAgreement =     0x00008000,
            AuthorizationRequiredForAssistanceAgreement =       0x00010000,

            ExclusiveConditionUnfulfilled =                     0x00020000,

            MultiCoverage =                                     0x00040000,
      -->
  <!-- Configurado para obviar todas las incidencias basadas en autorizaciones en el análisis de cobertura automático -->
  <add key="AutomaticCoverAnalysisIssueExceptions" value="0x0001E000"/>

  <!-- Indica el número máximo de caracteres permitidos para ejecutar una consulta.-->
  <!-- Se usa para limitar consultas excesivamente complejas que se pueden generar definiendo filtros excesivamente complejos...-->
  <!-- como por ejemplos aquellos en los que se permite seleccionar muchos elementos que acaban en una cláusula WHERE IN () -->
  <add key ="MaxCharactersAllowedInQuery" value="100000"/>
</appSettings>
