<?xml version="1.0" encoding="utf-8"?>
<setupSchemas>
  <schemas>
    <add name="">
      <parameters>
        <add name="storageLocationName" value="default" />
        <add name="procedureCode" value="default" />
      </parameters>
    </add>
    <add name="farmacia">
      <parameters>
        <add name="storageLocationName" value="ALMACEN CENTRAL DE FARMACIA" />
        <add name="procedureCode" value="farmacia" />
      </parameters>
    </add>
    <add name="administracion">
      <parameters>
        <add name="storageLocationName" value="administracion" />
        <add name="procedureCode" value="administracion" />
      </parameters>
    </add>
  </schemas>
</setupSchemas>
