<?xml version="1.0" encoding="utf-8" ?>
<addinDomains>
  <domains>
    <add name="ServiceEntities" handler="SII.HCD.Models.EDMX.ServiceModel.ServiceModelHandler,SII.HCD.Models.EDMX" mainEntity="ServiceEntity" levels="3" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="ServiceTypeEntity" entitySet="ServiceTypes" entityElement="ServiceType" entityProperty="Service.ServiceType" keyProperty="Code" labelProperty="Description" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
          </availableProperties>
        </add>
        <add metadataEntity="ServiceEntity" entitySet="Services" entityElement="Service" entityProperty="Service" keyProperty="Code" labelProperty="Description" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Code"/>
          </availableProperties>
        </add>
        <add metadataEntity="ServiceChargeEntity" entitySet="ServiceCharges" entityElement="ServiceCharge" entityProperty="ServiceCharge" keyProperty="Code" labelProperty="Name" statusProperty="Status" level="2">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="LocationEntities" handler="SII.HCD.Models.EDMX.LocationModel.LocationModelHandler,SII.HCD.Models.EDMX" mainEntity="LocationEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="LocationTypeEntity" entitySet="LocationTypes" entityElement="LocationType" entityProperty="LocationType" keyProperty="Code" labelProperty="Name" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="LocationEntity" entitySet="Locations" entityElement="Location" entityProperty="Location" keyProperty="Name" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="LocationClassEntity" entitySet="LocationClasses" entityElement="LocationClass" entityProperty="LocationClass" keyProperty="Code" labelProperty="Description" statusProperty="Status" >
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Code"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="ItemEntities" handler="SII.HCD.Models.EDMX.ItemModel.ItemModelHandler,SII.HCD.Models.EDMX" mainEntity="ItemEntity" levels="1" active="false">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="ItemEntity" entitySet="Items" entityElement="Item" keyProperty="Code" labelProperty="GenericName" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="ItemType"/>
            <add name="Code"/>
            <add name="GenericName"/>
            <add name="CommercialName"/>
          </availableProperties>
        </add>
        <add metadataEntity="FamilyEntity" entitySet="Families" entityElement="Family" entityProperty="Family" keyProperty="ID" labelProperty="Name" >
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="SubFamilyEntity" entitySet="SubFamiles" entityElement="SubFamily" entityProperty="SubFamily" keyProperty="ID" labelProperty="Name">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="TaxTypeEntity" entitySet="TaxTypes" entityElement="TaxType" entityProperty="TaxType" keyProperty="ID" labelProperty="Description" statusProperty="Status"/>
      </elements>
    </add>
    <add name="RoutineEntities" handler="SII.HCD.Models.EDMX.RoutineModel.RoutineModelHandler,SII.HCD.Models.EDMX" mainEntity="RoutineEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="RoutineTypeEntity" entitySet="RoutineTypes" entityElement="RoutineType" entityProperty="RoutineType" keyProperty="Code" labelProperty="Name" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="RoutineEntity" entitySet="Routines" entityElement="Routine" keyProperty="Code" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="TaxTypeEntity" entitySet="TaxTypes" entityElement="TaxType" entityProperty="TaxType" keyProperty="ID" labelProperty="Description" statusProperty="Status"/>
      </elements>
    </add>
    <add name="ProcedureEntities" handler="SII.HCD.Models.EDMX.ProcedureModel.ProcedureModelHandler,SII.HCD.Models.EDMX" mainEntity="ProcedureEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="ProcedureEntity" entitySet="Procedures" entityElement="Procedure" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="ProcedureClassificationEntity" entitySet="ProcedureClassifications" entityElement="ProcedureClassification" entityProperty="ProcedureClassification" keyProperty="ID" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="TaxTypeEntity" entitySet="TaxTypes" entityElement="TaxType" entityProperty="TaxType" keyProperty="ID" labelProperty="Description" statusProperty="Status"/>
      </elements>
    </add>
    <add name="DeviceEntities" handler="SII.HCD.Models.EDMX.DeviceModel.DeviceModelHandler,SII.HCD.Models.EDMX" mainEntity="DeviceEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="DeviceTypeEntity" entitySet="DeviceTypes" entityElement="DeviceType" entityProperty="DeviceType" keyProperty="Code" labelProperty="Name" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="DeviceEntity" entitySet="Devices" entityElement="Device" keyProperty="Code" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="EquipmentEntities" handler="SII.HCD.Models.EDMX.EquipmentModel.EquipmentModelHandler,SII.HCD.Models.EDMX" mainEntity="EquipmentEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="EquipmentTypeEntity" entitySet="EquipmentTypes" entityElement="EquipmentType" entityProperty="EquipmentType" keyProperty="Code" labelProperty="Name" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="EquipmentEntity" entitySet="Equipments" entityElement="Equipment" keyProperty="Name" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="ActEntities" handler="SII.HCD.Models.EDMX.ActModel.ActModelHandler,SII.HCD.Models.EDMX" mainEntity="ActEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="ActEntity" entitySet="Acts" entityElement="Act" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="ActTypeEntity" entitySet="ActTypes" entityElement="ActType" entityProperty="ActType" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="ActClassificationEntity" entitySet="ActClassifications" entityElement="ActClassification" entityProperty="ActClassification" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="GroupActEntity" entitySet="GroupActs" entityElement="GroupAct" entityProperty="GroupAct" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="SubgroupActEntity" entitySet="SubgroupActs" entityElement="SubgroupAct" entityProperty="SubgroupAct" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="EpisodeTypeEntities" handler="SII.HCD.Models.EDMX.EpisodeTypeModel.EpisodeTypeModelHandler,SII.HCD.Models.EDMX" mainEntity="EpisodeTypeEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="EpisodeTypeEntity" entitySet="EpisodeTypes" entityElement="EpisodeType" keyProperty="Code" labelProperty="Description" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="CustomerClassificationEntities" handler="SII.HCD.Models.EDMX.CustomerClassificationModel.CustomerClassificationModelHandler,SII.HCD.Models.EDMX" mainEntity="CustomerClassificationEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="CustomerClassificationEntity" entitySet="CustomerClassifications" entityElement="CustomerClassification" keyProperty="Code" labelProperty="Name" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="ProfileEntity" entitySet="Profiles" entityElement="Profile" entityProperty="Profile" keyProperty="Code" labelProperty="Name" statusProperty="Status" >
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="TariffEntities" handler="SII.HCD.Models.EDMX.TariffModel.TariffModelHandler,SII.HCD.Models.EDMX" mainEntity="TariffEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="TariffEntity" entitySet="Tariffs" entityElement="Tariff" keyProperty="Code" labelProperty="Description" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="ProfileEntities" handler="SII.HCD.Models.EDMX.ProfileModel.ProfileModelHandler,SII.HCD.Models.EDMX" mainEntity="ProfileEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="ProfileEntity" entitySet="Profiles" entityElement="Profile" keyProperty="Code" labelProperty="Name" statusProperty="Status"  level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="CategoryEntity" entitySet="Categorys" entityElement="Category" entityProperty="Category" keyProperty="ID" labelProperty="Name">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Type"/>
            <add name="CategoryKey"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="PolicyTypeEntities" handler="SII.HCD.Models.EDMX.PolicyTypeModel.PolicyTypeModelHandler,SII.HCD.Models.EDMX" mainEntity="PolicyTypeEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="InsurerEntity" entitySet="Insurers" entityElement="Insurer" entityProperty="Insurer" keyProperty="ID" statusProperty="Status" labelProperty="Organization.Name" level="0" >
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Organization.Name" />
          </availableProperties>
        </add>
        <add metadataEntity="OrganizationEntity" entitySet="Organizations" entityElement="Organization" entityProperty="Insurer.Organization" keyProperty="ID" statusProperty="Status" labelProperty="Name" >
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="PolicyTypeEntity" entitySet="PolicyTypes" entityElement="PolicyType" keyProperty="Name" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Name"/>
            <add name="MutualityName"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="InsurerAgreementEntities" handler="SII.HCD.Models.EDMX.InsurerAgreementModel.InsurerAgreementModelHandler,SII.HCD.Models.EDMX" mainEntity="InsurerAgreementEntity" levels="3" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="InsurerEntity" entitySet="Insurers" entityElement="Insurer" entityProperty="InsurerCoverAgreement.Insurer" keyProperty="ID" statusProperty="Status" labelProperty="Organization.Name" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
          </availableProperties>
        </add>
        <add metadataEntity="OrganizationEntity" entitySet="Organizations" entityElement="Organization" entityProperty="InsurerCoverAgreement.Insurer.Organization" keyProperty="ID" statusProperty="Status" labelProperty="Name">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="InsurerCoverAgreementEntity" entitySet="InsurerCoverAgreements" entityElement="InsurerCoverAgreement" entityProperty="InsurerCoverAgreement" keyProperty="ID"  labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="InsurerAgreementEntity" entitySet="InsurerAgreements" entityElement="InsurerAgreement" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status" level="2">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="AgreementEntities" handler="SII.HCD.Models.EDMX.AgreementModel.AgreementModelHandler,SII.HCD.Models.EDMX" mainEntity="AgreementEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="AgreementEntity" entitySet="Agreements" entityElement="Agreement" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="FamilyEntities" handler="SII.HCD.Models.EDMX.FamilyModel.FamilyModelHandler,SII.HCD.Models.EDMX" mainEntity="FamilyEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="FamilyEntity" entitySet="Families" entityElement="Family" entityProperty="Family" keyProperty="Code" labelProperty="Name" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="SubFamilyEntity" entitySet="SubFamilies" entityElement="SubFamily" keyProperty="Code" labelProperty="Name" statusProperty="" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="GroupActEntities" handler="SII.HCD.Models.EDMX.GroupActModel.GroupActModelHandler,SII.HCD.Models.EDMX" mainEntity="GroupActEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="GroupActEntity" entitySet="GroupActs" entityElement="GroupAct" entityProperty="GroupAct" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="SubGroupActEntity" entitySet="SubGroupActs" entityElement="SubGroupAct" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="AssistanceServiceEntities" handler="SII.HCD.Models.EDMX.AssistanceServiceModel.AssistanceServiceModelHandler,SII.HCD.Models.EDMX" mainEntity="AssistanceServiceEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="AssistanceServiceEntity" entitySet="AssistanceServices" entityElement="AssistanceService" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="WorkGroupEntities" handler="SII.HCD.Models.EDMX.WorkGroupModel.WorkGroupModelHandler,SII.HCD.Models.EDMX" mainEntity="WorkGroupEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="WorkGroupEntity" entitySet="WorkGroups" entityElement="WorkGroup" keyProperty="Name" labelProperty="Description" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Name"/>
            <add name="Description"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="PhysicianEntities" handler="SII.HCD.Models.EDMX.PhysicianModel.PhysicianModelHandler,SII.HCD.Models.EDMX" mainEntity="PhysicianEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="PhysicianEntity" entitySet="Physicians" entityElement="Physician" entityProperty="Physician" keyProperty="ID" labelProperty="FullName" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="OrderEntities" handler="SII.HCD.Models.EDMX.OrderModel.OrderModelHandler,SII.HCD.Models.EDMX" mainEntity="OrderEntity" levels="3" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="OrderEntity" entitySet="Orders" entityElement="Order" keyProperty="AssignedCode" labelProperty="Name" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="RoutineTypeEntity" entitySet="RoutineTypes" entityElement="RoutineType" keyProperty="Code" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
        <add metadataEntity="RoutineEntity" entitySet="Routines" entityElement="Routine" keyProperty="Code" labelProperty="Name" statusProperty="Status" level="2">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
          </availableProperties>
        </add>
      </elements>
    </add>
  </domains>
</addinDomains>