<?xml version="1.0" encoding="utf-8" ?>
<HostConfiguration rootURL="">
  <services>
    <add name="SII.HCD.Administrative.BL.AccountChargeBL" type="SII.HCD.Administrative.BL.AccountChargeBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.AgreementCalculationResultBL" type="SII.HCD.Administrative.BL.AgreementCalculationResultBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.ContactTypeBL" type="SII.HCD.Administrative.BL.ContactTypeBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.ContractCoverAgreementBL" type="SII.HCD.Administrative.BL.ContractCoverAgreementBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerAccountChargeBL" type="SII.HCD.Administrative.BL.CustomerAccountChargeBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerAdmissionBL" type="SII.HCD.Administrative.BL.CustomerAdmissionBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerAssistancePlanBL" type="SII.HCD.Administrative.BL.CustomerAssistancePlanBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerBL" type="SII.HCD.Administrative.BL.CustomerBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerBudgetBL" type="SII.HCD.Administrative.BL.CustomerBudgetBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerCardBL" type="SII.HCD.Administrative.BL.CustomerCardBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerCitationBL" type="SII.HCD.Administrative.BL.CustomerCitationBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerClassificationBL" type="SII.HCD.Administrative.BL.CustomerClassificationBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerCodificationBL" type="SII.HCD.Administrative.BL.CustomerCodificationBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerContactBL" type="SII.HCD.Administrative.BL.CustomerContactBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerContactOrganizationBL" type="SII.HCD.Administrative.BL.CustomerContactOrganizationBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerContactPersonBL" type="SII.HCD.Administrative.BL.CustomerContactPersonBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerContractBL" type="SII.HCD.Administrative.BL.CustomerContractBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerDeliveryNoteBL" type="SII.HCD.Administrative.BL.CustomerDeliveryNoteBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerEpisodeBL" type="SII.HCD.Administrative.BL.CustomerEpisodeBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerGuaranteeBL" type="SII.HCD.Administrative.BL.CustomerGuaranteeBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerInterviewBL" type="SII.HCD.Administrative.BL.CustomerInterviewBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerInvoiceBL" type="SII.HCD.Administrative.BL.CustomerInvoiceBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerLeaveBL" type="SII.HCD.Administrative.BL.CustomerLeaveBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerMedEpisodeActBL" type="SII.HCD.Administrative.BL.CustomerMedEpisodeActBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerNotificationBL" type="SII.HCD.Administrative.BL.CustomerNotificationBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerObservationBL" type="SII.HCD.Administrative.BL.CustomerObservationBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerOrderRealizationBL" type="SII.HCD.Administrative.BL.CustomerOrderRealizationBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerOrderRequestBL" type="SII.HCD.Administrative.BL.CustomerOrderRequestBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerPolicyBL" type="SII.HCD.Administrative.BL.CustomerPolicyBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerPreAssessmentBL" type="SII.HCD.Administrative.BL.CustomerPreAssessmentBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerProcedureBL" type="SII.HCD.Administrative.BL.CustomerProcedureBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerProcessBL" type="SII.HCD.Administrative.BL.CustomerProcessBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerProcessStepInfoBL" type="SII.HCD.Administrative.BL.CustomerProcessStepInfoBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerProcessWaitingListBL" type="SII.HCD.Administrative.BL.CustomerProcessWaitingListBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerReceptionBL" type="SII.HCD.Administrative.BL.CustomerReceptionBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerRegistrationWizardBL" type="SII.HCD.Administrative.BL.CustomerRegistrationWizardBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerReportsBL" type="SII.HCD.Administrative.BL.CustomerReportsBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerReservationBL" type="SII.HCD.Administrative.BL.CustomerReservationBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerRoutineBL" type="SII.HCD.Administrative.BL.CustomerRoutineBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerTransferBL" type="SII.HCD.Administrative.BL.CustomerTransferBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerTransferEntryBL" type="SII.HCD.Administrative.BL.CustomerTransferEntryBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.CustomerVisitBL" type="SII.HCD.Administrative.BL.CustomerVisitBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.DeliveryNoteBL" type="SII.HCD.Administrative.BL.DeliveryNoteBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.EpisodeStayCalculationUoWBL" type="SII.HCD.Administrative.BL.EpisodeStayCalculationUoWBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.InterpretationReportBL" type="SII.HCD.Administrative.BL.InterpretationReportBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.InvoiceBL" type="SII.HCD.Administrative.BL.InvoiceBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.KinshipBL" type="SII.HCD.Administrative.BL.KinshipBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.MedicalEpisodeBL" type="SII.HCD.Administrative.BL.MedicalEpisodeBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.NOKBL" type="SII.HCD.Administrative.BL.NOKBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.ProcedureActBL" type="SII.HCD.Administrative.BL.ProcedureActBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.RemittanceContentBL" type="SII.HCD.Administrative.BL.RemittanceContentBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.RoutineActBL" type="SII.HCD.Administrative.BL.RoutineActBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.ShortcutAdmissionBL" type="SII.HCD.Administrative.BL.ShortcutAdmissionBL, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Administrative.BL.WCFRegistrationServices" type="SII.HCD.Administrative.BL.WCFRegistrationServices, SII.HCD.Administrative.BL" />
    <add name="SII.HCD.Assistance.BL.AdvanceRequestBL" type="SII.HCD.Assistance.BL.AdvanceRequestBL, SII.HCD.Assistance.BL" />
    <add name="SII.HCD.Assistance.BL.ActivityBL" type="SII.HCD.Assistance.BL.ActivityBL, SII.HCD.Assistance.BL" />
    <!--<add name="SII.HCD.Assistance.BL.CareProcessRealizationBL" type="SII.HCD.Assistance.BL.CareProcessRealizationBL, SII.HCD.Assistance.BL" />-->
    <add name="SII.HCD.Assistance.BL.CHSummaryBL" type="SII.HCD.Assistance.BL.CHSummaryBL, SII.HCD.Assistance.BL" />
    <add name="SII.HCD.Assistance.BL.CustomerDietAdvancedBL" type="SII.HCD.Assistance.BL.CustomerDietAdvancedBL, SII.HCD.Assistance.BL" />
    <add name="SII.HCD.Assistance.BL.HHRRActivityBL" type="SII.HCD.Assistance.BL.HHRRActivityBL, SII.HCD.Assistance.BL" />
    <add name="SII.HCD.Assistance.BL.HHRRAssignedRoutineBL" type="SII.HCD.Assistance.BL.HHRRAssignedRoutineBL, SII.HCD.Assistance.BL" />
    <add name="SII.HCD.Assistance.BL.ReplenishmentOrderAdvancedBL" type="SII.HCD.Assistance.BL.ReplenishmentOrderAdvancedBL, SII.HCD.Assistance.BL" />
    <add name="SII.HCD.Assistance.BL.ScheduledActivityBL" type="SII.HCD.Assistance.BL.ScheduledActivityBL, SII.HCD.Assistance.BL" />
    <add name="SII.HCD.Assistance.BL.UserPermissionBL" type="SII.HCD.Assistance.BL.UserPermissionBL, SII.HCD.Assistance.BL" />
    <add name="SII.HCD.BackOffice.BL.ActBL" type="SII.HCD.BackOffice.BL.ActBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ActClassificationBL" type="SII.HCD.BackOffice.BL.ActClassificationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ActTypeBL" type="SII.HCD.BackOffice.BL.ActTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AddressBL" type="SII.HCD.BackOffice.BL.AddressBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AgreeConditionBL" type="SII.HCD.BackOffice.BL.AgreeConditionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AgreementBL" type="SII.HCD.BackOffice.BL.AgreementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AssistanceAgreementBL" type="SII.HCD.BackOffice.BL.AssistanceAgreementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AssistanceCoverGroupBL" type="SII.HCD.BackOffice.BL.AssistanceCoverGroupBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AssistanceDegreeBL" type="SII.HCD.BackOffice.BL.AssistanceDegreeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AssistanceProcessChartBL" type="SII.HCD.BackOffice.BL.AssistanceProcessChartBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AssistanceServiceBL" type="SII.HCD.BackOffice.BL.AssistanceServiceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AssistanceServiceTypeBL" type="SII.HCD.BackOffice.BL.AssistanceServiceTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AuthorizationTypeBL" type="SII.HCD.BackOffice.BL.AuthorizationTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AvailabilityResourceBL" type="SII.HCD.BackOffice.BL.AvailabilityResourceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AvailPatternBL" type="SII.HCD.BackOffice.BL.AvailPatternBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.BatchBL" type="SII.HCD.BackOffice.BL.BatchBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.BatchMovementBL" type="SII.HCD.BackOffice.BL.BatchMovementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.BatchMovementReasonBL" type="SII.HCD.BackOffice.BL.BatchMovementReasonBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.BuyerBL" type="SII.HCD.BackOffice.BL.BuyerBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CareCenterBL" type="SII.HCD.BackOffice.BL.CareCenterBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CareCenterTypeBL" type="SII.HCD.BackOffice.BL.CareCenterTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CaseMixGroupBL" type="SII.HCD.BackOffice.BL.CaseMixGroupBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CashRegisterBL" type="SII.HCD.BackOffice.BL.CashRegisterBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CategoryBL" type="SII.HCD.BackOffice.BL.CategoryBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CityBL" type="SII.HCD.BackOffice.BL.CityBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CodedCategoryBL" type="SII.HCD.BackOffice.BL.CodedCategoryBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CodedCategoryClassBL" type="SII.HCD.BackOffice.BL.CodedCategoryClassBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CodeProvider.CodeGenerator" type="SII.HCD.BackOffice.BL.CodeProvider.CodeGenerator, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ConceptBL" type="SII.HCD.BackOffice.BL.ConceptBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ConsentPreprintUoWBL" type="SII.HCD.BackOffice.BL.ConsentPreprintUoWBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ConsentTypeUoWBL" type="SII.HCD.BackOffice.BL.ConsentTypeUoWBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ContraindicationBL" type="SII.HCD.BackOffice.BL.ContraindicationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CountryBL" type="SII.HCD.BackOffice.BL.CountryBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.CriteriaValueBL" type="SII.HCD.BackOffice.BL.CriteriaValueBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DataFlowBL" type="SII.HCD.BackOffice.BL.DataFlowBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DBMaskedCodeGeneratorBL" type="SII.HCD.BackOffice.BL.DBMaskedCodeGeneratorBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DeviceBL" type="SII.HCD.BackOffice.BL.DeviceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DeviceTypeBL" type="SII.HCD.BackOffice.BL.DeviceTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DiagnosisBL" type="SII.HCD.BackOffice.BL.DiagnosisBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DimensionCriteriaBL" type="SII.HCD.BackOffice.BL.DimensionCriteriaBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DocumentBL" type="SII.HCD.BackOffice.BL.DocumentBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DocumentMaskGeneratorBL" type="SII.HCD.BackOffice.BL.DocumentMaskGeneratorBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DocumentTemplateBL" type="SII.HCD.BackOffice.BL.DocumentTemplateBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DocumentTemplateTypeBL" type="SII.HCD.BackOffice.BL.DocumentTemplateTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DRGBL" type="SII.HCD.BackOffice.BL.DRGBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.DrugImportService" type="SII.HCD.BackOffice.BL.DrugImportService, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EncoderBL" type="SII.HCD.BackOffice.BL.EncoderBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EncoderContextBL" type="SII.HCD.BackOffice.BL.EncoderContextBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EntityEncodingBL" type="SII.HCD.BackOffice.BL.EntityEncodingBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EpisodeCloseModeBL" type="SII.HCD.BackOffice.BL.EpisodeCloseModeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EpisodeProcedureBL" type="SII.HCD.BackOffice.BL.EpisodeProcedureBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EpisodeReasonBL" type="SII.HCD.BackOffice.BL.EpisodeReasonBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EpisodeReasonTypeBL" type="SII.HCD.BackOffice.BL.EpisodeReasonTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EpisodeTypeBL" type="SII.HCD.BackOffice.BL.EpisodeTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EpisodeTypeLeaveReasonRelBL" type="SII.HCD.BackOffice.BL.EpisodeTypeLeaveReasonRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EpisodeTypeReasonRelBL" type="SII.HCD.BackOffice.BL.EpisodeTypeReasonRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EquipmentBL" type="SII.HCD.BackOffice.BL.EquipmentBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.EquipmentTypeBL" type="SII.HCD.BackOffice.BL.EquipmentTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ExportElementConfigRelBL" type="SII.HCD.BackOffice.BL.ExportElementConfigRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.FamilyBL" type="SII.HCD.BackOffice.BL.FamilyBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.FrequencyBL" type="SII.HCD.BackOffice.BL.FrequencyBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.GroupActBL" type="SII.HCD.BackOffice.BL.GroupActBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HHRRLocationRelBL" type="SII.HCD.BackOffice.BL.HHRRLocationRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HHRRTimeOffRelBL" type="SII.HCD.BackOffice.BL.HHRRTimeOffRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HHRRWorkScheduleInfoBL" type="SII.HCD.BackOffice.BL.HHRRWorkScheduleInfoBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HistoryAgreeConditionBL" type="SII.HCD.BackOffice.BL.HistoryAgreeConditionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HistoryAgreementBL" type="SII.HCD.BackOffice.BL.HistoryAgreementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HistoryAssistanceAgreementBL" type="SII.HCD.BackOffice.BL.HistoryAssistanceAgreementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HistoryCareCenterBL" type="SII.HCD.BackOffice.BL.HistoryCareCenterBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HistoryInsurerAgreementBL" type="SII.HCD.BackOffice.BL.HistoryInsurerAgreementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HistoryInsurerConditionBL" type="SII.HCD.BackOffice.BL.HistoryInsurerConditionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HistoryInsurerCoverAgreementBL" type="SII.HCD.BackOffice.BL.HistoryInsurerCoverAgreementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.HumanResourceBL" type="SII.HCD.BackOffice.BL.HumanResourceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.IB_AdministrationRouteBL" type="SII.HCD.BackOffice.BL.IB_AdministrationRouteBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.IdentifierTypeBL" type="SII.HCD.BackOffice.BL.IdentifierTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ImageStorageBL" type="SII.HCD.BackOffice.BL.ImageStorageBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.InsurerAgreementBL" type="SII.HCD.BackOffice.BL.InsurerAgreementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.InsurerBL" type="SII.HCD.BackOffice.BL.InsurerBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.InsurerConditionBL" type="SII.HCD.BackOffice.BL.InsurerConditionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.InsurerCoverAgreementBL" type="SII.HCD.BackOffice.BL.InsurerCoverAgreementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.InsurerInvoiceAgreementBL" type="SII.HCD.BackOffice.BL.InsurerInvoiceAgreementBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.InterpretationParamConfigBL" type="SII.HCD.BackOffice.BL.InterpretationParamConfigBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.InvoiceAgreementBL" type="SII.HCD.BackOffice.BL.InvoiceAgreementBL, SII.HCD.BackOffice.BL" />
    <!--<add name="SII.HCD.BackOffice.BL.InvoiceAgreeRemittanceConfigRelBL" type="SII.HCD.BackOffice.BL.InvoiceAgreeRemittanceConfigRelBL, SII.HCD.BackOffice.BL" />-->
    <add name="SII.HCD.BackOffice.BL.InvoiceConfigAgreementRelBL" type="SII.HCD.BackOffice.BL.InvoiceConfigAgreementRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.InvoicePrintRuleBL" type="SII.HCD.BackOffice.BL.InvoicePrintRuleBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ItemBL" type="SII.HCD.BackOffice.BL.ItemBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ItemBatchBL" type="SII.HCD.BackOffice.BL.ItemBatchBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ItemBoxBL" type="SII.HCD.BackOffice.BL.ItemBoxBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ItemGroupBL" type="SII.HCD.BackOffice.BL.ItemGroupBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ItemRelationshipBL" type="SII.HCD.BackOffice.BL.ItemRelationshipBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.LocationAvailabilityBL" type="SII.HCD.BackOffice.BL.LocationAvailabilityBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.LocationBL" type="SII.HCD.BackOffice.BL.LocationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.LocationClassBL" type="SII.HCD.BackOffice.BL.LocationClassBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.LocationTypeBL" type="SII.HCD.BackOffice.BL.LocationTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ManualDeliveryNoteAvailBL" type="SII.HCD.BackOffice.BL.ManualDeliveryNoteAvailBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.MDCBL" type="SII.HCD.BackOffice.BL.MDCBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.MedEpisodeProcessChartBL" type="SII.HCD.BackOffice.BL.MedEpisodeProcessChartBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.MedEpisodeTypeBL" type="SII.HCD.BackOffice.BL.MedEpisodeTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.MedicalSpecialtyBL" type="SII.HCD.BackOffice.BL.MedicalSpecialtyBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.MedicalSummaryBL" type="SII.HCD.BackOffice.BL.MedicalSummaryBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ModelRestrictionBL" type="SII.HCD.BackOffice.BL.ModelRestrictionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.MorphologyBL" type="SII.HCD.BackOffice.BL.MorphologyBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.MultipleAttributeOptionBL" type="SII.HCD.BackOffice.BL.MultipleAttributeOptionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.NormalValueBL" type="SII.HCD.BackOffice.BL.NormalValueBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.NotificationActBL" type="SII.HCD.BackOffice.BL.NotificationActBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.NotificationBL" type="SII.HCD.BackOffice.BL.NotificationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.NurseRequestBL" type="SII.HCD.BackOffice.BL.NurseRequestBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ObservationBL" type="SII.HCD.BackOffice.BL.ObservationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ObservationBlockBL" type="SII.HCD.BackOffice.BL.ObservationBlockBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ObservationEncodingBL" type="SII.HCD.BackOffice.BL.ObservationEncodingBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ObservationRelBL" type="SII.HCD.BackOffice.BL.ObservationRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ObservationTemplateBL" type="SII.HCD.BackOffice.BL.ObservationTemplateBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ObservationTypeBL" type="SII.HCD.BackOffice.BL.ObservationTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.OccupationalProfileBL" type="SII.HCD.BackOffice.BL.OccupationalProfileBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.OrderBL" type="SII.HCD.BackOffice.BL.OrderBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.OrderClassificationBL" type="SII.HCD.BackOffice.BL.OrderClassificationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.OrderNotificationRelBL" type="SII.HCD.BackOffice.BL.OrderNotificationRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.OrderProcedureRelBL" type="SII.HCD.BackOffice.BL.OrderProcedureRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.OrderRoutineRelBL" type="SII.HCD.BackOffice.BL.OrderRoutineRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.OrderTypeBL" type="SII.HCD.BackOffice.BL.OrderTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.OrganizationBL" type="SII.HCD.BackOffice.BL.OrganizationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.OrganizationContactPersonBL" type="SII.HCD.BackOffice.BL.OrganizationContactPersonBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PersonBL" type="SII.HCD.BackOffice.BL.PersonBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PersonSecurityRelBL" type="SII.HCD.BackOffice.BL.PersonSecurityRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PhysicianBL" type="SII.HCD.BackOffice.BL.PhysicianBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PhysUnitBL" type="SII.HCD.BackOffice.BL.PhysUnitBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.POInvoiceBL" type="SII.HCD.BackOffice.BL.POInvoiceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PolicyTypeBL" type="SII.HCD.BackOffice.BL.PolicyTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PositionBL" type="SII.HCD.BackOffice.BL.PositionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PreAssessmentTypeBL" type="SII.HCD.BackOffice.BL.PreAssessmentTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PrecautionBL" type="SII.HCD.BackOffice.BL.PrecautionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PrincipiosActivosBL"  type="SII.HCD.BackOffice.BL.PrincipiosActivosBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureActRelBL" type="SII.HCD.BackOffice.BL.ProcedureActRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureBL" type="SII.HCD.BackOffice.BL.ProcedureBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureBodySiteRelBL" type="SII.HCD.BackOffice.BL.ProcedureBodySiteRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureChargeRelBL" type="SII.HCD.BackOffice.BL.ProcedureChargeRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureClassificationBL" type="SII.HCD.BackOffice.BL.ProcedureClassificationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureEquipmentRelBL" type="SII.HCD.BackOffice.BL.ProcedureEquipmentRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureHHRRRelBL" type="SII.HCD.BackOffice.BL.ProcedureHHRRRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureLocationRelBL" type="SII.HCD.BackOffice.BL.ProcedureLocationRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedurePatternRelBL" type="SII.HCD.BackOffice.BL.ProcedurePatternRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureRequirementRelBL" type="SII.HCD.BackOffice.BL.ProcedureRequirementRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcedureRoutineRelBL" type="SII.HCD.BackOffice.BL.ProcedureRoutineRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProcessChartBL" type="SII.HCD.BackOffice.BL.ProcessChartBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProfileBL" type="SII.HCD.BackOffice.BL.ProfileBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProrateUoWBL" type="SII.HCD.BackOffice.BL.ProvinceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ProvinceBL" type="SII.HCD.BackOffice.BL.ProrateUoWBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PurchaseOrderBL" type="SII.HCD.BackOffice.BL.PurchaseOrderBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ReasonChangeBL" type="SII.HCD.BackOffice.BL.ReasonChangeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ReceiveNotificationActionBL" type="SII.HCD.BackOffice.BL.ReceiveNotificationActionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ReceiveNotificationBL" type="SII.HCD.BackOffice.BL.ReceiveNotificationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ReferenceValueConfigBL" type="SII.HCD.BackOffice.BL.ReferenceValueConfigBL, SII.HCD.BackOffice.BL" />
    <!--<add name="SII.HCD.BackOffice.BL.ReplenishmentOrderBL" type="SII.HCD.BackOffice.BL.ReplenishmentOrderBL, SII.HCD.BackOffice.BL" />-->
    <!--<add name="SII.HCD.BackOffice.BL.ReportActsConfigBL" type="SII.HCD.BackOffice.BL.ReportActsConfigBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ReportConfigBL" type="SII.HCD.BackOffice.BL.ReportConfigBL, SII.HCD.BackOffice.BL" />-->
    <add name="SII.HCD.BackOffice.BL.RequestOrderBL" type="SII.HCD.BackOffice.BL.RequestOrderBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RequirementUoWBL" type="SII.HCD.BackOffice.BL.RequirementUoWBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ReplenishmentCalculationConfigBL" type="SII.HCD.BackOffice.BL.ReplenishmentCalculationConfigBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ResourceSummaryAvailabilityBL" type="SII.HCD.BackOffice.BL.ResourceSummaryAvailabilityBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineBL" type="SII.HCD.BackOffice.BL.RoutineBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineActRelBL" type="SII.HCD.BackOffice.BL.RoutineActRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineChargeRelBL" type="SII.HCD.BackOffice.BL.RoutineChargeRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineContraindicationRelBL" type="SII.HCD.BackOffice.BL.RoutineContraindicationRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineClassificationBL" type="SII.HCD.BackOffice.BL.RoutineClassificationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineDeviceRelBL" type="SII.HCD.BackOffice.BL.RoutineDeviceRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineSpecimenRelBL" type="SII.HCD.BackOffice.BL.RoutineSpecimenRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineBodySiteRelBL" type="SII.HCD.BackOffice.BL.RoutineBodySiteRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineConsentRelBL" type="SII.HCD.BackOffice.BL.RoutineConsentRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineDietaryServiceRelBL" type="SII.HCD.BackOffice.BL.RoutineDietaryServiceRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineEquipmentRelBL" type="SII.HCD.BackOffice.BL.RoutineEquipmentRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineHHRRBL" type="SII.HCD.BackOffice.BL.RoutineHHRRBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineLocationRelBL" type="SII.HCD.BackOffice.BL.RoutineLocationRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineNotificationRelBL" type="SII.HCD.BackOffice.BL.RoutineNotificationRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutinePrecautionRelBL" type="SII.HCD.BackOffice.BL.RoutinePrecautionRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineRequirementRelBL" type="SII.HCD.BackOffice.BL.RoutineRequirementRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineStepBL" type="SII.HCD.BackOffice.BL.RoutineStepBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineTemplateBL" type="SII.HCD.BackOffice.BL.RoutineTemplateBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineTimesBL" type="SII.HCD.BackOffice.BL.RoutineTimesBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.RoutineTypeBL" type="SII.HCD.BackOffice.BL.RoutineTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SalesOrderBL" type="SII.HCD.BackOffice.BL.SalesOrderBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SalesOrderInvoiceBL" type="SII.HCD.BackOffice.BL.SalesOrderInvoiceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ServiceBL" type="SII.HCD.BackOffice.BL.ServiceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ServiceChargeBL" type="SII.HCD.BackOffice.BL.ServiceChargeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ServiceDietBL" type="SII.HCD.BackOffice.BL.ServiceDietBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ServicePriceBL" type="SII.HCD.BackOffice.BL.ServicePriceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ServicePriceLocationRelBL" type="SII.HCD.BackOffice.BL.ServicePriceLocationRelBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ServiceTypeBL" type="SII.HCD.BackOffice.BL.ServiceTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SkillAndPermissionBL" type="SII.HCD.BackOffice.BL.SkillAndPermissionBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SpecialCategoryBL" type="SII.HCD.BackOffice.BL.SpecialCategoryBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.StateBL" type="SII.HCD.BackOffice.BL.StateBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.StockRegularizeBL" type="SII.HCD.BackOffice.BL.StockRegularizeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.StockRegularizeReasonBL" type="SII.HCD.BackOffice.BL.StockRegularizeReasonBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.StockRuleBL" type="SII.HCD.BackOffice.BL.StockRuleBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.StorageInventoryBL" type="SII.HCD.BackOffice.BL.StorageInventoryBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SubFamilyBL" type="SII.HCD.BackOffice.BL.SubFamilyBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SubGroupActBL" type="SII.HCD.BackOffice.BL.SubGroupActBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SupplierBL" type="SII.HCD.BackOffice.BL.SupplierBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.TariffBL" type="SII.HCD.BackOffice.BL.TariffBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.TaxTypeBL" type="SII.HCD.BackOffice.BL.TaxTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.TenderBL" type="SII.HCD.BackOffice.BL.TenderBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.TimePatternBL" type="SII.HCD.BackOffice.BL.TimePatternBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.WorkConditionTypeBL" type="SII.HCD.BackOffice.BL.WorkConditionTypeBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.WorkGroupBL" type="SII.HCD.BackOffice.BL.WorkGroupBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ZipCodeBL" type="SII.HCD.BackOffice.BL.ZipCodeBL, SII.HCD.BackOffice.BL" />
    <!--<add name="SII.HCD.BackOffice.BL.ItemTreatmentRouteBL" type="SII.HCD.BackOffice.BL.ItemTreatmentRouteBL, SII.HCD.BackOffice.BL" />-->
    <add name="SII.HCD.BackOffice.BL.AdministrationMethodBL" type="SII.HCD.BackOffice.BL.AdministrationMethodBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.BodySiteUoWBL" type="SII.HCD.BackOffice.BL.BodySiteUoWBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.BodySiteClassificationBL" type="SII.HCD.BackOffice.BL.BodySiteClassificationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.BodySiteConceptBL" type="SII.HCD.BackOffice.BL.BodySiteConceptBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.BodySiteParticipationBL" type="SII.HCD.BackOffice.BL.BodySiteParticipationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.PharmaceuticalFormBL" type="SII.HCD.BackOffice.BL.PharmaceuticalFormBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.AdministrationRouteBL" type="SII.HCD.BackOffice.BL.AdministrationRouteBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ServiceDietAllowanceBL" type="SII.HCD.BackOffice.BL.ServiceDietAllowanceBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SeasonBL" type="SII.HCD.BackOffice.BL.SeasonBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SampleTypeConceptBL" type="SII.HCD.BackOffice.BL.SampleTypeConceptBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.MaterialSpecimenSampleBL" type="SII.HCD.BackOffice.BL.MaterialSpecimenSampleBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SpecimenBL" type="SII.HCD.BackOffice.BL.SpecimenBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.Common.BL.ClientConfigurationBL" type="SII.HCD.Common.BL.ClientConfigurationBL, SII.HCD.Common.BL" />
    <add name="SII.HCD.Common.BL.ElementBL" type="SII.HCD.Common.BL.ElementBL, SII.HCD.Common.BL" />
    <add name="SII.HCD.Common.BL.EventLogBL" type="SII.HCD.Common.BL.EventLogBL, SII.HCD.Common.BL" />
    <add name="SII.HCD.Common.BL.InterfaceHistoryBL" type="SII.HCD.Common.BL.InterfaceHistoryBL, SII.HCD.Common.BL" />
    <add name="SII.HCD.Common.BL.InterfaceManagerBL" type="SII.HCD.Common.BL.InterfaceManagerBL, SII.HCD.Common.BL" />
    <add name="SII.HCD.Common.BL.CommonServices" type="SII.HCD.Common.BL.MessagingService, SII.HCD.Common.BL" />
    <add name="SII.HCD.Common.BL.SetupSchemaBL" type="SII.HCD.Common.BL.SetupSchemaBL, SII.HCD.Common.BL" />
    <add name="SII.HCD.Common.BL.DateTimeBL" type="SII.HCD.Common.BL.DateTimeBL, SII.HCD.Common.BL" />
    <add name="SII.HCD.DistributedServices.Dashboard.DashboardModuleService" type="SII.HCD.DistributedServices.Dashboard.DashboardModuleService,DistributedServices.Dashboard" />
    <add name="SII.HCD.OwnedAddin.BL.MDS_WCFServices" type="SII.HCD.OwnedAddin.BL.MDS_WCFServices, SII.HCD.OwnedAddin.BL" />
    <add name="SII.HCD.OwnedAddin.BL.Sermepa_WCFServices" type="SII.HCD.OwnedAddin.BL.Sermepa_WCFServices, SII.HCD.OwnedAddin.BL" />
    <add name="SII.HCD.OwnedAddin.BL.InvoiceValidationSetupBL" type="SII.HCD.OwnedAddin.BL.InvoiceValidationSetupBL, SII.HCD.OwnedAddin.BL"/>
    <add name="SII.SIFP.BR.Configuration.ConfigurationService" type="SII.SIFP.BR.Configuration.ConfigurationService, SIFP.BR.Configuration" />
    <add name="SII.SIFP.BR.Security.SecurityBR" type="SII.SIFP.BR.Security.SecurityBR, SIFP.BR.Security" />
    <add name="SII.SIFP.BR.License.LicenseBR" type="SII.SIFP.BR.License.LicenseBR, SIFP.BR.License" />
    <add name="SII.SIFP.BR.Security.SecurityWCF" type="SII.SIFP.BR.Security.SecurityWCF, SIFP.BR.Security" />
    <add name="SII.HCD.BackOffice.BL.TransformationBL" type="SII.HCD.BackOffice.BL.TransformationBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.MakingKitBL" type="SII.HCD.BackOffice.BL.MakingKitBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.SupplyReplenishmentBL" type="SII.HCD.BackOffice.BL.SupplyReplenishmentBL, SII.HCD.BackOffice.BL" />
    <add name="SII.HCD.BackOffice.BL.ParticipateAsBL" type="SII.HCD.BackOffice.BL.ParticipateAsBL, SII.HCD.BackOffice.BL" />

    <!-- IB.IMQ services -->
    <add name="IB.IMQ.Administrative.BL.OrderRequestServiceWGRelBL" type="IB.IMQ.Administrative.BL.OrderRequestServiceWGRelBL, IB.IMQ.Administrative.BL" />
    <add name="IB.IMQ.Administrative.BL.OrderRealizationServiceWGRelBL" type="IB.IMQ.Administrative.BL.OrderRealizationServiceWGRelBL, IB.IMQ.Administrative.BL" />
    <add name="IB.IMQ.Administrative.BL.OfferBL" type="IB.IMQ.Administrative.BL.OfferBL, IB.IMQ.Administrative.BL" />
    
    <!-- External services -->
    <add name="SII.HCD.Ibermatica.Interop.IbermaticaBL" type="SII.HCD.Ibermatica.Interop.IbermaticaBL, SII.HCD.Ibermatica.Interop"/>
    <add name="SII.HCD.StorageDevice.Interop.StorageDeviceBL" type="SII.HCD.StorageDevice.Interop.StorageDeviceBL, SII.HCD.StorageDevice.Interop"/>
    <add name="SII.HCD.IDISDevice.Interop.IDISDeviceBL" type="SII.HCD.IDISDevice.Interop.IDISDeviceBL, SII.HCD.IDISDevice.Interop"/>
    <add name="SII.HCD.MedicalWS.Interop.MedicalWSBL" type="SII.HCD.MedicalWS.Interop.MedicalWSBL, SII.HCD.MedicalWS.Interop"/>

    <add name="SII.HCD.CPOE.Interop.CPOEBL" type="SII.HCD.CPOE.Interop.CPOEBL, SII.HCD.CPOE.Interop"/>

  </services>
</HostConfiguration>
