<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" requirePermission="true" />
    <section name="global" type="SII.HCD.Configuration.GlobalConfigurationSection, SII.HCD.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="backoffice" type="SII.HCD.Configuration.BackofficeConfigurationSection, SII.HCD.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="administrative" type="SII.HCD.Configuration.AdministrativeConfigurationSection, SII.HCD.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="HostConfiguration" type="SII.SIFP.HostServices.HostConfigurationSection, SIFP.HostServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="imageLength" type="SII.HCD.Configuration.ImageLengthConfigurationSection, SII.HCD.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="setupSchemas" type="SII.HCD.Configuration.SetupSchemaConfigurationSection, SII.HCD.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="serviceDomains" type="SII.HCD.Configuration.DomainConfigurationSection, SII.HCD.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="addinDomains" type="SII.HCD.Configuration.DomainConfigurationSection, SII.HCD.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="taskInterfaces" type="SII.HCD.Common.BL.InterfaceConfigurationSection, SII.HCD.Common.BL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="messaging" type="SII.Framework.Shell.ApplicationShell.Infrastructure.Interface.MessagingConfigurationSection,Infrastructure.Interface"/>
    <section name="serviceRestrictions" type="SII.HCD.Configuration.ServiceRestrictionConfigurationSection,SII.HCD.Configuration"/>
    <section name="indicatorAssemblies" type="SII.HCD.Infrastructure.Dashboard.Configuration.IndicatorAssemblyConfigurationSection,Infrastructure.Dashboard"/>
    <!--<section name="storageDevice" type="SII.HCD.StorageDevice.Interop.StorageDeviceHeaderConfiguration,SII.HCD.StorageDevice.Interop"/>-->
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="External file">
    <sources>
      <add name="External file" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"
       filePath="servicehost.hcd.enterpriselibrary.config" />
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning,ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="logs\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="logs\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>-->
  <system.web>
    <membership defaultProvider="SIFPHostMembershipProvider" hashAlgorithmType="SHA1">
      <providers>
        <clear/>
        <add name="SIFPHostMembershipProvider" type="SII.SIFP.Security.Host.SIFPHostMembershipProvider, SIFP.Security.Host" applicationName="HCD" description="SIFP membership security manager"/>

      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SIFPDirectPointRoleProvider">
      <providers>
        <clear/>
        <add name="SIFPRoleProvider" type="SII.SIFP.Security.Direct.SIFPDirectRoleProvider, SIFP.Security.Direct" applicationName="HCD" description="HCD role security manager"/>

      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <client>

      <!-- Dejar al final de la lista pues tiene una configuración totalmente distinta-->
      <endpoint address="http://localhost:8088/messaging/MessagingService"
          binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMessagingService"
          contract="SII.HCD.Common.Services.IMessagingService" name="WSDualHttpBinding_IMessagingService">
        <identity>
          <userPrincipalName value="hcd@si2-pdc.sistemasdeinformacion2.es" />
        </identity>
      </endpoint>
      <endpoint address="http://10.80.11.71:12333/services/GrifolsReceptor"
          binding="basicHttpBinding" bindingConfiguration="DefaultAcceptMessagePortBinding"
          contract="GrifolsService.DefaultAcceptMessage" name="DefaultAcceptMessagePort" />
      <!-- Dejar al final de la lista pues tiene una configuración totalmente distinta-->
    </client>
    <bindings configSource="servicehost.hcd.servicemodel.bindings.config"/>
    <behaviors configSource="servicehost.hcd.servicemodel.behaviors.config"/>
    <services configSource="servicehost.hcd.servicemodel.services.config"/>
  </system.serviceModel>
  <HostConfiguration configSource="servicehost.hcd.hostconfiguration.config"/>
  <setupSchemas configSource="servicehost.hcd.setupSchemas.config"/>
  <serviceDomains configSource="servicehost.hcd.servicedomains.config"/>
  <addinDomains configSource="servicehost.hcd.addindomains.config"/>
  <imageLength routineTypeImageLength="10240" personImageLength="16384"  pharmaceuticalFormImageLength="10240"/>
  <taskInterfaces configSource="servicehost.hcd.taskinterfaces.config"/>
  <messaging active="false"/>
  <!-- clientURLFormat="http://{0}:8087/messaging/{1} alertMode="Popup"-->

  <global>
    <parameters>
      <add name="UserApplicationViewDisableCommands" active="false"/>
      <add name="StepsControl" active="false"/>
      <add name="EditZipCode" active="true"/>
      <add name="UseVirtualAddress" active="false"/>
      <add name="PreviewCounters" active="true"/>
      <add name="LargeIconsInModalViews" active="true"/>
      <add name="ViewAllMenuOptions" active="false"/>
      <add name="ExistAgreementCodifiers" active="false"/>
      <add name="ExistAssistanceAgreementCodifiers" active="false"/>
      <add name="ExistAssistanceServiceCodifiers" active="false"/>
      <add name="ExistCoverageAgreementCodifiers" active="false"/>
      <add name="ExistInsurerAgreementCodifiers" active="false"/>
      <add name="ExistInsurerConditionCodifiers" active="false"/>
      <add name="ExistActTypeCodifiers" active="false"/>
      <add name="ExistActClassificationCodifiers" active="false"/>
      <add name="ExistMedicalSpecialtyCodifiers" active="false"/>
      <add name="ExistSubGroupActCodifiers" active="false"/>
      <add name="ExistGroupActCodifiers" active="false"/>
      <add name="ExistActCodifiers" active="false"/>
      <add name="OpenWithUpperCase" active="false"/>
      <add name="SavePersonWithUpperCase" active="true"/>
      <add name="SavePersonWithTrim" active="true"/>
    </parameters>
  </global>
  <backoffice>
    <entitySettings>
      <PersonEntity maxRows="1000">
        <attributes>
          <add name="FirstName" mandatory="true"/>
          <add name="LastName" mandatory="true"/>
        </attributes>
      </PersonEntity>
      <OrganizationEntity maxRows="0">
        <attributes>
          <add name="Name" mandatory="true" requiredByDesign="true"/>
        </attributes>
      </OrganizationEntity>
      <AdmissionEntity maxRows="1000">
        <attributes>
        </attributes>
      </AdmissionEntity>
      <CustomerActivitySchEntity maxRows="1000">
        <attributes>
        </attributes>
      </CustomerActivitySchEntity>
      <CustomerActivityLogEntity maxRows="1000">
        <attributes>
        </attributes>
      </CustomerActivityLogEntity>
      <!--<TaxTypeEntity>
        <attributes>
          <add name="ProrateAppliedValue" defaultValue="0.98"/>
        </attributes>
      </TaxTypeEntity>-->
      <CustomerRoutineEntity>
        <attributes>
          <add name="NoticePreviousTime" mandatory="false" defaultValue="DT MI15"/>
          <add name="NoticeMessage" mandatory="false" defaultValue="Tiene un aviso."/>
        </attributes>
      </CustomerRoutineEntity>
      <CustomerProcedureEntity>
        <attributes>
          <add name="NoticePreviousTime" mandatory="false" defaultValue="DT MI15"/>
          <add name="NoticeMessage" mandatory="false" defaultValue="Tiene un aviso."/>
        </attributes>
      </CustomerProcedureEntity>
      <HumanResourceEntity maxRows="0">
        <attributes>
          <add name="FirstName" mandatory="true"/>
          <add name="LastName" mandatory="true"/>
          <add name="Identifier.IdentifierType" mandatory="true" defaultValue="NIF">
            <alternativeOptions>
              <add value="Passport"/>
            </alternativeOptions>
          </add>
          <add name="Identifier.IDNumber" mandatory="true"/>
        </attributes>
      </HumanResourceEntity>
      <CountryEntity>
        <attributes>
          <add name="Code" defaultValue="724"/>
        </attributes>
      </CountryEntity>
      <!--<StateEntity>
        <attributes>
          <add name="ID" defaultValue="724"/>
        </attributes>
      </StateEntity>
      <ProvinceEntity>
        <attributes>
          <add name="ID" defaultValue="724"/>
        </attributes>
      </ProvinceEntity>-->
      <AddressEntity>
        <attributes>
        </attributes>
      </AddressEntity>
      <TelephoneEntity>
        <attributes>
          <add name="TelephoneType" defaultValue="Contacto">
            <options>
              <add value="Contacto"/>
              <add value="Movil"/>
              <add value="Trabajo"/>
              <add value="Fax"/>
            </options>
          </add>
        </attributes>
      </TelephoneEntity>
      <IdentifierTypeEntity>
        <identifier.validators>
          <add key="NIF" description="Validación de NIF/DNI" type="SII.HCD.Misc.Validators.NIFValidator, SII.HCD.Misc"/>
          <add key="CIF" description="Validación de CIF" type="SII.HCD.Misc.Validators.CIFValidator, SII.HCD.Misc"/>
          <add key="RegEx" description="Validación genérica basada en RegEx" type="SII.HCD.Misc.Validators.RegExValidator, SII.HCD.Misc"/>
          <add key="BankAccount" description="Validación de Cuenta Bancaria" type="SII.HCD.Misc.Validators.BankAccountValidator, SII.HCD.Misc"/>
        </identifier.validators>
      </IdentifierTypeEntity>
      <ServiceEntity maxRows="0">
        <attributes>
          <add name="ServiceType" requiredByDesign="true"/>
          <add name="Code" requiredByDesign="true"/>
          <add name="Description" requiredByDesign="true"/>
          <add name="Tax" requiredByDesign="true"/>
        </attributes>
      </ServiceEntity>
      <ServiceChargeEntity maxRows="1000">
        <attributes>
          <add name="Code" mandatory="true" requiredByDesign="true"/>
        </attributes>
      </ServiceChargeEntity>
      <CareCenterEntity maxRows="0">
        <attributes>
          <add name="Name" mandatory="true" requiredByDesign="true"/>
          <add name="Identifier.IdentifierType" mandatory="false" defaultValue="CIF"/>
        </attributes>
      </CareCenterEntity>
      <InsurerEntity maxRows="1000">
        <attributes>
          <add name="Name" mandatory="true"/>
          <add name="Identifier.IdentifierType" mandatory="false" defaultValue="CIF"/>
        </attributes>
      </InsurerEntity>
      <AgreeConditionEntity maxRows="0">
        <attributes>
          <add name="Code" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </AgreeConditionEntity>
      <AgreeConditionRelEntity maxRows="0">
        <attributes>
        </attributes>
      </AgreeConditionRelEntity>
      <ConditionAddinEntity maxRows="0">
        <attributes>
        </attributes>
      </ConditionAddinEntity>
      <ServicePriceEntity maxRows="0">
        <attributes>
        </attributes>
      </ServicePriceEntity>
      <AgreementEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
          <add name="CalculationMode" requiredByDesign="true"/>
        </attributes>
      </AgreementEntity>
      <AssistanceAgreementEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" mandatory="true" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </AssistanceAgreementEntity>
      <AssistanceServiceEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" mandatory="true" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </AssistanceServiceEntity>
      <InsurerCoverAgreementEntity maxRows="0">
        <attributes>
          <add name="Insurer" mandatory="true" requiredByDesign="true"/>
          <add name="AssignedCode" mandatory="true" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
          <add name="CalculationMode" requiredByDesign="true"/>
        </attributes>
      </InsurerCoverAgreementEntity>
      <InsurerAgreementEntity maxRows="0">
        <attributes>
          <add name="InsurerID" mandatory="true" requiredByDesign="true"/>
          <add name="AssignedCode" mandatory="true" requiredByDesign="true"/>
          <add name="InsurerCoverAgreementID" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
          <add name="CalculationMode" requiredByDesign="true"/>
        </attributes>
      </InsurerAgreementEntity>
      <InsurerConditionEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" mandatory="true" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
          <add name="Encoder" defaultValue="Baremo Clí­nica">
            <options>
              <add value="Baremo Clínica"/>
            </options>
          </add>
        </attributes>
      </InsurerConditionEntity>
      <ActTypeEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </ActTypeEntity>
      <ActClassificationEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </ActClassificationEntity>
      <MedicalSpecialtyEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </MedicalSpecialtyEntity>
      <SubGroupActEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
          <add name="GroupActID" requiredByDesign="true"/>
        </attributes>
      </SubGroupActEntity>
      <GroupActEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </GroupActEntity>
      <ActEntity maxRows="0">
        <attributes>
          <add name="AssignedCode" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
          <add name="ActType" requiredByDesign="true"/>
        </attributes>
      </ActEntity>
      <RoutineEntity maxRows="1000">
        <attributes>
          <add name="RoutineType" requiredByDesign="true"/>
          <add name="Code" mandatory="true" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </RoutineEntity>
      <ProcedureEntity maxRows="1000">
        <attributes>
          <add name="AssignedCode" mandatory="true" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </ProcedureEntity>
      <HHRRWorkScheduleInfoEntity maxRows="0">
        <attributes>
        </attributes>
      </HHRRWorkScheduleInfoEntity>
      <PhysicianEntity maxRows="0">
        <attributes>
          <add name="FirstName" mandatory="true" requiredByDesign="true"/>
          <add name="LastName" mandatory="true" requiredByDesign="true"/>
        </attributes>
      </PhysicianEntity>
      <PurchaseOrderStatusEntity>
        <attributes>
          <add name="PurchaseOrderNumber" requiredByDesign="true"/>
          <add name="PurchaseOrderType" requiredByDesign="true"/>
          <add name="Supplier" requiredByDesign="true"/>
          <add name="RepositoryID" requiredByDesign="true"/>
          <add name="RegistrationDate" requiredByDesign="true"/>
          <add name="ReceivingDateTime" requiredByDesign="true"/>
        </attributes>
      </PurchaseOrderStatusEntity>
      <POEntryStatusEntity>
        <attributes>
          <add name="PurchaseOrderID" requiredByDesign="true"/>
          <add name="EntityType" requiredByDesign="true"/>
          <add name="EntityID" requiredByDesign="true"/>
          <add name="EntityCode" requiredByDesign="true"/>
          <add name="LocationID" requiredByDesign="true"/>
        </attributes>
      </POEntryStatusEntity>
      <POEntryBatchStatusEntity>
        <attributes>
          <add name="POEntryID" requiredByDesign="true"/>
          <add name="LotNumber" requiredByDesign="true"/>
        </attributes>
      </POEntryBatchStatusEntity>
      <SupplierEntity maxRows="0">
        <attributes>
          <add name="Name" mandatory="true" requiredByDesign="true"/>
          <add name="Identifier.IdentifierType" mandatory="false" defaultValue="CIF"/>
        </attributes>
      </SupplierEntity>
      <SupplierItemRelationshipEntity maxRows="0">
        <attributes>
        </attributes>
      </SupplierItemRelationshipEntity>
      <BuyerEntity maxRows="0">
        <attributes>
          <add name="Name" mandatory="true" requiredByDesign="true"/>
          <add name="Identifier.IdentifierType" mandatory="false" defaultValue="CIF"/>
        </attributes>
      </BuyerEntity>
      <CashRegisterEntity maxRows="0">
        <attributes>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </CashRegisterEntity>
      <BatchMovementEntity maxRows="0">
        <attributes>
        </attributes>
      </BatchMovementEntity>
      <ObservationTypeEntity maxRows="0">
        <attributes>
          <add name="Code" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
          <add name="PresentationMode" requiredByDesign="true"/>
          <add name="RegistrationDateTime" requiredByDesign="true"/>
        </attributes>
      </ObservationTypeEntity>
      <ObservationEntity maxRows="0">
        <attributes>
          <add name="Code" requiredByDesign="true"/>
          <add name="Name" requiredByDesign="true"/>
          <add name="RegistrationDateTime" requiredByDesign="true"/>
        </attributes>
      </ObservationEntity>
      <ObservationBlockEntity maxRows="0">
        <attributes>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </ObservationBlockEntity>
      <ObservationTemplateEntity maxRows="0">
        <attributes>
          <add name="Name" requiredByDesign="true"/>
        </attributes>
      </ObservationTemplateEntity>
      <DimensionCriteriaEntity maxRows="0">
        <attributes>
        </attributes>
      </DimensionCriteriaEntity>
      <CriteriaValueEntity maxRows="0">
        <attributes>
        </attributes>
      </CriteriaValueEntity>
      <NotificationActEntity maxRows="0">
        <attributes>
        </attributes>
      </NotificationActEntity>
      <ReceiveNotificationEntity maxRows="0">
        <attributes>
        </attributes>
      </ReceiveNotificationEntity>
      <ObsNotificationCriterionEntity>
        <attributes>
        </attributes>
      </ObsNotificationCriterionEntity>
      <ObservationValueEntity>
        <attributes>
        </attributes>
      </ObservationValueEntity>
      <NotificationEntity>
        <attributes>
        </attributes>
      </NotificationEntity>
    </entitySettings>
  </backoffice>
  <administrative>
    <entitySettings>
      <CustomerEntity maxRows="0">
        <attributes>
          <add name="FirstName" mandatory="true" requiredByDesign="true"/>
          <add name="LastName" mandatory="true" requiredByDesign="true"/>
          <add name="Identifier.IdentifierType" mandatory="true" defaultValue="NIF">
            <alternativeOptions>
              <add value="PASSPORT"/>
            </alternativeOptions>
          </add>
          <add name="Identifier.IDNumber" mandatory="true"/>
        </attributes>
      </CustomerEntity>
      <CustomerContactEntity maxRows="1000">
        <attributes>
        </attributes>
      </CustomerContactEntity>
      <CustomerPreAssessmentEntity maxRows="1000">
        <attributes>
        </attributes>
      </CustomerPreAssessmentEntity>
      <CustomerBudgetEntity maxRows="1000">
        <attributes>
        </attributes>
      </CustomerBudgetEntity>
      <CustomerEpisodeEntity maxRows="1000">
        <attributes>
          <add name="Origin" defaultValue="Casa">
            <options>
              <add value="Casa"/>
              <add value="Centro Salud"/>
              <add value="Otro"/>
            </options>
          </add>
        </attributes>
      </CustomerEpisodeEntity>
      <CustomerPolicyEntity maxRows="0">
        <attributes>
        </attributes>
      </CustomerPolicyEntity>
      <CustomerReservationEntity>
        <attributes>
          <add name="ReceptionWay" defaultValue="Solicitud hoja admisión">
            <options>
              <add value="Solicitud personal (directo)"/>
              <add value="Solicitud médica (directo)"/>
              <add value="Solicitud hoja admisión"/>
              <add value="Correo electrónico"/>
              <add value="Teléfono"/>
              <add value="Fax Administración"/>
              <add value="Fax Quirófano"/>
            </options>
          </add>
        </attributes>
      </CustomerReservationEntity>
    </entitySettings>
  </administrative>

  <!-- los nombres de los dispositivos farmacia separados por | (pipe) -->
  <!--<storageDevice name="HL7.Header"
    description="HL7 Header description"
    publisher="Sistemas de Información"
    version="2.1.0.0"
    path="C:\TEMP"
    actionName="Storage Device Message"
    messageNumber="NumeroAdmisionHL7"
    customerAsDeviceName ="PACIENTE"
    providerAsDeviceName ="FARMACIA|KARDEX"
    locationAsDeviceName ="VB FARMACIA|KARDEX"
    binAsDeviceName="GFH"
    movementNamePocketLoad ="SPL"
    movementNamePocketFill="SPR"
    movementNamePocketUnLoad="SPU"
    movementNamePartialPocketUnLoad="SEM"
    movementNameUnLoadToBin="DESCARGA" 
    movementNameEmptyBin="SEB" 
    movementNameReturnToBin="SRI" 
    />-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <serviceRestrictions configSource="servicehost.hcd.servicerestrictions.config"/>
  <indicatorAssemblies configSource="servicehost.hcd.indicatorassemblies.config"/>
  <appSettings configSource="servicehost.hcd.appconfig.config"/>


  <connectionStrings configSource="servicehost.hcd.connectionstrings.config" />
</configuration>
