<?xml version="1.0" encoding="utf-8" ?>
<taskInterfaces>
  <interfaces>
    <add name="AutoCloseEpisodes"
         type="SII.HCD.Administrative.BL.Tasks.AutoCloseEpisodeTask, SII.HCD.Administrative.BL"
         description="Close opened episodes"
         mode="Singleton"
         maxInstances="0"
         priority="5"/>
    <add name="AutoClosedCustomerProcess"
          type="SII.HCD.Administrative.BL.Tasks.AutoClosedCustomerProcessTask, SII.HCD.Administrative.BL"
          description="Close customer process in HCDIS"
          mode="Singleton"
          maxInstances="0"
          priority="5"/>
    <add name="UpdateResourceSummary"
         type="SII.HCD.BackOffice.BL.Tasks.ResourceSummaryUpdateTask, SII.HCD.BackOffice.BL"
         description="Update resource summary statistics"
         mode="Singleton"
         maxInstances="0"
         priority="5"/>

  </interfaces>
</taskInterfaces>
