<?xml version="1.0" encoding="utf-8" ?>
<serviceRestrictions defaultMaxRows="1000">
  <restrictions>
    <add name="AdministrationMethodEntity" maxRows="0"/>
    <add name="AdministrationRouteEntity" maxRows="0"/>
    <add name="AssistanceServiceTypeEntity" maxRows="0"/>

    <add name="BindableCustomerAccountChargeEntity" maxRows="0"/>
    <add name="BodySiteEntity" maxRows="0"/>
    <add name="BodySiteClassificationEntity" maxRows="0"/>
    <add name="BodySiteConceptEntity" maxRows="0"/>
    <add name="BodySiteParticipationEntity" maxRows="0"/>

    <add name="CareProcessRealizationDTO" maxRows="0"/>
    <add name="ConsentPreprintEntity" maxRows="0"/>
    <add name="ContraindicationEntity" maxRows="0"/>
    <add name="CustomerCareProcessEntity" maxRows="0"/>
    <add name="CustomerEpisodeDTO" maxRows="0"/>
    <add name="CustomerOrderRequestDTOName" maxRows="1000"/>
    <add name="CustomerProcessBaseDTO" maxRows="0"/>
    <add name="CustomerProcessEntity" maxRows="2000"/>
    <add name="CustomerReportsEntity" maxRows="1000"/>

    <add name="DocumentTemplateTypeEntity" maxRows="0"/>
    
    <add name="EquipmentEntity" maxRows="500"/>

    <add name="InterfaceHistoryEntity" maxRows="5000"/>
    <add name="InterfaceLogEntryEntity" maxRows="5000"/>
    <add name="InvoiceEntity" maxRows="0"/>
    <!--<add name="ItemTreatmentRouteEntity" maxRows="0"/>-->

    <add name="MakingKitEntity" maxRows="0"/>
    <add name="MaterialSpecimenSampleEntity" maxRows="0"/>

    <add name="NurseRequestListDTO" maxRows="0"/>

    <add name="OrderClassificationEntity" maxRows="0"/>
    
    <add name="ParticipateAsEntity" maxRows="0"/>
    <add name="PharmaceuticalFormEntity" maxRows="0"/>
    <add name="PrecautionEntity" maxRows="0"/>
    <add name="ProfileEntity" maxRows="0"/>

    <add name="ReplenishmentCalculationConfigEntity" maxRows="0"/>
    <add name="ReplenishmentOrderListDTO" maxRows="0"/>
    <add name="RequestOrderEntity" maxRows="1000"/>
    <add name="RequirementEntity" maxRows="0"/>

    <add name="SampleTypeConceptEntity" maxRows="0"/>
    <add name="ServiceDietAllowanceEntity" maxRows="0"/>
    <add name="SpecimenEntity" maxRows="0"/>
    <add name="StorageInventoryEntity" maxRows="2000"/>
    <add name="SupplyReplenishment" maxRows="0"/>

    <add name="TransformationEntity" maxRows="0"/>
  </restrictions>
</serviceRestrictions>