<?xml version="1.0" encoding="utf-8" ?>
<serviceDomains>
  <domains>
    <add name="RoutineEntities" handler="SII.HCD.Models.EDMX.RoutineModel.RoutineModelHandler,SII.HCD.Models.EDMX" mainEntity="RoutineEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="RoutineEntity" entitySet="Routines" entityElement="Routine" keyProperty="ID" labelProperty="Description" statusProperty="Status" level="2">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="RoutineTypeEntity" entitySet="RoutineTypes" entityElement="RoutineType" entityProperty="RoutineType" keyProperty="Code" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Code"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="TaxTypeEntity" entitySet="TaxTypes" entityElement="TaxType" entityProperty="TaxType" keyProperty="ID" labelProperty="Description" statusProperty="Status"/>
      </elements>
    </add>
    <add name="ProcedureEntities" handler="SII.HCD.Models.EDMX.ProcedureModel.ProcedureModelHandler,SII.HCD.Models.EDMX" mainEntity="ProcedureEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="ProcedureEntity" entitySet="Procedures" entityElement="Procedure" keyProperty="ID" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="IsCodified"/>
            <add name="ConfirmedBy"/>
            <add name="CreatedBy"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="ProcedureClassificationEntity" entitySet="ProcedureClassifications" entityElement="ProcedureClassification" entityProperty="ProcedureClassification" keyProperty="ID" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
            <add name="Description"/>
          </availableProperties>
        </add>
        <add metadataEntity="TaxTypeEntity" entitySet="TaxTypes" entityElement="TaxType" entityProperty="TaxType" keyProperty="ID" labelProperty="Description" statusProperty="Status"/>
      </elements>
    </add>
    <add name="ItemEntities" handler="SII.HCD.Models.EDMX.ItemModel.ItemModelHandler,SII.HCD.Models.EDMX" mainEntity="ItemEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="ItemEntity" entitySet="Items" entityElement="Item" keyProperty="ID" labelProperty="Description" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="ItemType"/>
            <add name="Code"/>
            <add name="GenericName"/>
            <add name="CommercialName"/>
            <add name="BarCode"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="FamilyEntity" entitySet="Families" entityElement="Family" entityProperty="Family" keyProperty="ID" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
            <add name="Description"/>
          </availableProperties>
        </add>
        <add metadataEntity="SubFamilyEntity" entitySet="SubFamiles" entityElement="SubFamily" entityProperty="SubFamily" keyProperty="ID" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
            <add name="Description"/>
          </availableProperties>
        </add>
        <add metadataEntity="TaxTypeEntity" entitySet="TaxTypes" entityElement="TaxType" entityProperty="TaxType" keyProperty="ID" labelProperty="Description" statusProperty="Status"/>
      </elements>
    </add>
    <add name="DeviceEntities" handler="SII.HCD.Models.EDMX.DeviceModel.DeviceModelHandler,SII.HCD.Models.EDMX" mainEntity="DeviceEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="DeviceEntity" entitySet="Devices" entityElement="Device" keyProperty="ID" labelProperty="Description" statusProperty="Status" level="2">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="DeviceTypeEntity" entitySet="DeviceTypes" entityElement="DeviceType" entityProperty="DeviceType" keyProperty="ID" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Code"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="EquipmentEntities" handler="SII.HCD.Models.EDMX.EquipmentModel.EquipmentModelHandler,SII.HCD.Models.EDMX" mainEntity="EquipmentEntity" levels="2" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="EquipmentEntity" entitySet="Equipments" entityElement="Equipment" keyProperty="ID" labelProperty="Description" statusProperty="Status" level="2">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Code"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="EquipmentTypeEntity" entitySet="EquipmentTypes" entityElement="EquipmentType" entityProperty="EquipmentType" keyProperty="ID" labelProperty="Name" statusProperty="Status" level="1">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Code"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
      </elements>
    </add>
    <add name="ActEntities" handler="SII.HCD.Models.EDMX.ActModel.ActModelHandler,SII.HCD.Models.EDMX" mainEntity="ActEntity" levels="1" active="true">
      <attributeMetadata valueSetName="AttributeValues" valueAttributeFieldName="Attribute" nameFieldName="Name" valueFieldName="Value"/>
      <elements>
        <add metadataEntity="ActEntity" entitySet="Acts" entityElement="Act" keyProperty="ID" labelProperty="Name" statusProperty="Status" level="0">
          <availableProperties>
            <add name="ID" propertyName="ID" active="true"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="ActTypeEntity" entitySet="ActTypes" entityElement="ActType" entityProperty="ActType" keyProperty="ID" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="ActClassificationEntity" entitySet="ActClassifications" entityElement="ActClassification" entityProperty="ActClassification" keyProperty="ID" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="AssignedCode"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="GroupActEntity" entitySet="GroupActs" entityElement="GroupAct" entityProperty="GroupAct" keyProperty="ID" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
        <add metadataEntity="SubgroupActEntity" entitySet="SubgroupActs" entityElement="SubgroupAct" entityProperty="SubgroupAct" keyProperty="ID" labelProperty="Name" statusProperty="Status">
          <availableProperties>
            <add name="ID" propertyName="ID"/>
            <add name="Name"/>
            <add name="Description"/>
            <add name="Status"/>
          </availableProperties>
        </add>
      </elements>
    </add>
  </domains>
</serviceDomains>