<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear/>
  <add name="Configuration" connectionString="Data Source=HCDISBEFE;Initial Catalog=SIFPConfiguration;User id=sa; password=pass@word1"
    providerName="System.Data.SqlClient" />
  <add name="Security" connectionString="Data Source=HCDISBEFE;Initial Catalog=HCDISSecurity;User id=sa; password=pass@word1"
      providerName="System.Data.SqlClient" />
  <add name="HCDDB" connectionString="Data Source=HCDISBEFE;Initial Catalog=HCDIS_OPT;User id=sa; password=pass@word1"
    providerName="System.Data.SqlClient" />
  <add name="DrugsDBConnection" connectionString="Data Source=HCDISBEFE;Initial Catalog=HCDDrugs;User ID=sa;password=pass@word1"
      providerName="System.Data.SqlClient"/>
  <add name="HCDAudit" connectionString="Data Source=HCDISBEFE;Initial Catalog=HCDISAuditLog;User id=sa; password=pass@word1"
      providerName="System.Data.SqlClient" />
  <add name="Dashboard" connectionString="Data Source=HCDISBEFE;Initial Catalog=HCDIS_Desarrollo;User Id=sa;password=pass@word1;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
  <add name="RoutineEntities"
       connectionString="metadata=res://*/RoutineModel.RoutineModel.csdl|res://*/RoutineModel.RoutineModel.ssdl|res://*/RoutineModel.RoutineModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="ProcedureEntities"
       connectionString="metadata=res://*/ProcedureModel.ProcedureModel.csdl|res://*/ProcedureModel.ProcedureModel.ssdl|res://*/ProcedureModel.ProcedureModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="ItemEntities"
       connectionString="metadata=res://*/ItemModel.ItemModel.csdl|res://*/ItemModel.ItemModel.ssdl|res://*/ItemModel.ItemModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="DeviceEntities"
       connectionString="metadata=res://*/DeviceModel.DeviceModel.csdl|res://*/DeviceModel.DeviceModel.ssdl|res://*/DeviceModel.DeviceModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="EquipmentEntities"
       connectionString="metadata=res://*/EquipmentModel.EquipmentModel.csdl|res://*/EquipmentModel.EquipmentModel.ssdl|res://*/EquipmentModel.EquipmentModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="ServiceEntities"
       connectionString="metadata=res://*/ServiceModel.ServiceModel.csdl|res://*/ServiceModel.ServiceModel.ssdl|res://*/ServiceModel.ServiceModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="LocationEntities"
       connectionString="metadata=res://*/LocationModel.LocationModel.csdl|res://*/LocationModel.LocationModel.ssdl|res://*/LocationModel.LocationModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="ActEntities"
       connectionString="metadata=res://*/ActModel.ActModel.csdl|res://*/ActModel.ActModel.ssdl|res://*/ActModel.ActModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="EpisodeTypeEntities"
       connectionString="metadata=res://*/EpisodeTypeModel.EpisodeTypeModel.csdl|res://*/EpisodeTypeModel.EpisodeTypeModel.ssdl|res://*/EpisodeTypeModel.EpisodeTypeModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;    Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="CustomerClassificationEntities"
       connectionString="metadata=res://*/CustomerClassificationModel.CustomerClassificationModel.csdl|res://*/CustomerClassificationModel.CustomerClassificationModel.ssdl|res://*/CustomerClassificationModel.CustomerClassificationModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;    Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="AgreementEntities"
       connectionString="metadata=res://*/AgreementModel.AgreementModell.csdl|res://*/AgreementModel.AgreementModell.ssdl|res://*/AgreementModel.AgreementModell.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;    Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="InsurerAgreementEntities"
       connectionString="metadata=res://*/InsurerAgreementModel.InsurerAgreementModel.csdl|res://*/InsurerAgreementModel.InsurerAgreementModel.ssdl|res://*/InsurerAgreementModel.InsurerAgreementModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;    Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="PolicyTypeEntities"
       connectionString="metadata=res://*/PolicyTypeModel.PolicyTypeModel.csdl|res://*/PolicyTypeModel.PolicyTypeModel.ssdl|res://*/PolicyTypeModel.PolicyTypeModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;    Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="ProfileEntities"
       connectionString="metadata=res://*/ProfileModel.ProfileModel.csdl|res://*/ProfileModel.ProfileModel.ssdl|res://*/ProfileModel.ProfileModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;    Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="TariffEntities"
       connectionString="metadata=res://*/TariffModel.TariffModel.csdl|res://*/TariffModel.TariffModel.ssdl|res://*/TariffModel.TariffModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;    Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="FamilyEntities"
       connectionString="metadata=res://*/FamilyModel.FamilyModel.csdl|res://*/FamilyModel.FamilyModel.ssdl|res://*/FamilyModel.FamilyModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;    Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="GroupActEntities"
       connectionString="metadata=res://*/GroupActModel.GroupActModel.csdl|res://*/GroupActModel.GroupActModel.ssdl|res://*/GroupActModel.GroupActModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;    Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="AssistanceServiceEntities"
       connectionString="metadata=res://*/AssistanceServiceModel.AssistanceServiceModel.csdl|res://*/AssistanceServiceModel.AssistanceServiceModel.ssdl|res://*/AssistanceServiceModel.AssistanceServiceModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="WorkGroupEntities"
       connectionString="metadata=res://*/WorkGroupModel.WorkGroupModel.csdl|res://*/WorkGroupModel.WorkGroupModel.ssdl|res://*/WorkGroupModel.WorkGroupModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="PhysicianEntities"
       connectionString="metadata=res://*/PhysicianModel.PhysicianModel.csdl|res://*/PhysicianModel.PhysicianModel.ssdl|res://*/PhysicianModel.PhysicianModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
  <add name="OrderEntities"
       connectionString="metadata=res://*/OrderModel.OrderModel.csdl|res://*/OrderModel.OrderModel.ssdl|res://*/OrderModel.OrderModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=10.80.11.60;Initial Catalog=HCDIS_Desarrollo;Persist Security Info=True;User id=sa; password=pass@word1;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
</connectionStrings>