<?xml version="1.0" encoding="utf-8" ?>
<behaviors>
  <serviceBehaviors>
    <behavior>
      <serviceCredentials>
        <clientCertificate>
          <authentication revocationMode="NoCheck" />
        </clientCertificate>
        <serviceCertificate findValue="mdcom" x509FindType="FindBySubjectName" />
        <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
         membershipProviderName="SIFPHostMembershipProvider" cacheLogonTokens="true" />
      </serviceCredentials>
      <serviceDebug includeExceptionDetailInFaults="true" />
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <serviceMetadata httpGetEnabled="false" />
    </behavior>
    <behavior name="authenticationBehavior" >
      <serviceCredentials>
        <clientCertificate>
          <authentication revocationMode="NoCheck" />
        </clientCertificate>
        <serviceCertificate findValue="mdcom" x509FindType="FindBySubjectName" />
      </serviceCredentials>
      <serviceDebug includeExceptionDetailInFaults="true" />
      <serviceMetadata httpGetEnabled="false" />
    </behavior>
    <!--<behavior name="ReportBehavior">
      <serviceCredentials>
        <clientCertificate>
          <authentication revocationMode="NoCheck" />
        </clientCertificate>
        <serviceCertificate findValue="mdcom" x509FindType="FindBySubjectName" />
        <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
         membershipProviderName="SIFPHostMembershipProvider" />
      </serviceCredentials>
      <serviceDebug includeExceptionDetailInFaults="true" />
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <serviceMetadata httpGetEnabled="true" />
    </behavior>-->
    <behavior name="WSDLPublishedBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" /> <!-- Esta línea no es necesaria, pero es útil en entornos de depuración. ELiminar en entornos de producción -->
    </behavior>
  </serviceBehaviors>
</behaviors>

