<?xml version="1.0" encoding="utf-8" ?>
<client>
  <endpoint address="net.tcp://localhost:8089/security/security.svc"
	 binding="netTcpBinding" bindingConfiguration="netTCPSecureBinding"
	 contract="SII.SIFP.Services.SecurityService.ISecurityService"
	 name="Security.Security">
    <identity>
      <dns value="mdcom" />
    </identity>
  </endpoint>
  <endpoint address="net.tcp://localhost:8089/security/modules.svc"
	 binding="netTcpBinding" bindingConfiguration="netTCPSecureBinding"
	 contract="SII.SIFP.Services.SecurityService.IModuleService" name="Security.Modules">
    <identity>
      <dns value="mdcom" />
    </identity>
  </endpoint>
  <endpoint address="net.tcp://localhost:8089/security/roles.svc"
	 binding="netTcpBinding" bindingConfiguration="netTCPSecureBinding"
	 contract="SII.SIFP.Services.SecurityService.IRoleService" name="Security.Roles">
    <identity>
      <dns value="mdcom" />
    </identity>
  </endpoint>
  <endpoint address="net.tcp://localhost:8089/security/functions.svc"
	 binding="netTcpBinding" bindingConfiguration="netTCPSecureBinding"
	 contract="SII.SIFP.Services.SecurityService.IFunctionService"
	 name="Security.Functions">
    <identity>
      <dns value="mdcom" />
    </identity>
  </endpoint>
  <endpoint address="net.tcp://localhost:8089/security/componentRestrictions.svc"
	 binding="netTcpBinding" bindingConfiguration="netTCPSecureBinding"
	 contract="SII.SIFP.Services.SecurityService.IComponentRestrictionService"
	 name="Security.ComponentRestrictions">
    <identity>
      <dns value="mdcom" />
    </identity>
  </endpoint>
  <endpoint address="net.tcp://localhost:8089/configuration/configuration.svc"
	 binding="netTcpBinding" bindingConfiguration="netTCPSecureBinding"
	 contract="SII.SIFP.Services.Configuration.IConfigurationService"
	 name="Configuration.Configuration">
    <identity>
      <dns value="mdcom" />
    </identity>
  </endpoint>
</client>



