<?xml version="1.0" encoding="utf-8" ?>
<behaviors>
	<endpointBehaviors>
		<behavior name="ClientBehavior">
			<clientCredentials>
				<clientCertificate findValue="" storeLocation="LocalMachine"
				  x509FindType="FindBySubjectName" />
				<serviceCertificate>
					<defaultCertificate findValue="mdcom" storeLocation="LocalMachine"
					  x509FindType="FindBySubjectName" />
					<authentication revocationMode="NoCheck" trustedStoreLocation="LocalMachine" />
				</serviceCertificate>
			</clientCredentials>
		</behavior>
		<behavior name="ClientReportBehavior">
			<clientCredentials>
				<serviceCertificate>
					<defaultCertificate findValue="mdcom" storeLocation="LocalMachine"
					  x509FindType="FindBySubjectName" />
					<authentication revocationMode="NoCheck" trustedStoreLocation="LocalMachine" />
				</serviceCertificate>
			</clientCredentials>
			<dataContractSerializer maxItemsInObjectGraph="2147483647" />
		</behavior>
	</endpointBehaviors>
</behaviors>

