<?xml version="1.0" encoding="utf-8" ?>
<administrative>
  <entitySettings>
    <CustomerEntity maxRows="2000">
      <attributes>
        <add name="FirstName" mandatory="true" requiredByDesign="true"/>
        <add name="LastName" mandatory="true" requiredByDesign="true"/>
        <add name="Identifier.IdentifierType" mandatory="true" defaultValue="NIF">
          <alternativeOptions>
            <add value="PASSPORT"/>
          </alternativeOptions>
        </add>
        <add name="Identifier.IDNumber" mandatory="true"/>
        <!--
          <add name="CHNumber" autoGenerateCode="true" />
          <add name="IdentificationNumber" autoGenerateCode="true"/>
          -->
      </attributes>
    </CustomerEntity>
    <CustomerContactEntity>
      <attributes>
        <add name="ContactWay" defaultValue="Teléfono">
          <options>
            <add value="Teléfono"/>
            <add value="Presencial"/>
            <add value="Email"/>
            <add value="Fax"/>
            <add value="Otro"/>
          </options>
        </add>
        <add name="ContactHowWeKnow" defaultValue="Publicidad">
          <options>
            <add value="Internet"/>
            <add value="Familiar"/>
            <add value="Publicidad"/>
            <add value="Trabajador"/>
            <add value="Otro"/>
          </options>
        </add>
      </attributes>
    </CustomerContactEntity>
    <CustomerPreAssessmentEntity>
      <attributes>
        <add name="InterviewMadeIn" defaultValue="CustomerHome">
          <options>
            <add value="CustomerHome"/>
            <add value="CareCenter"/>
          </options>
        </add>
        <add name="AssistanceDegrees" defaultValue="DependenceLevel1">
          <options>
            <add value="DependenceLevel1"/>
            <add value="DependenceLevel2"/>
          </options>
        </add>
      </attributes>
    </CustomerPreAssessmentEntity>
    <CustomerBudgetEntity>
      <attributes>
        <add name="ContactType" defaultValue="Customer">
          <options>
            <add value="Customer"/>
            <add value="NOK"/>
            <add value="Contact"/>
          </options>
        </add>
      </attributes>
    </CustomerBudgetEntity>
    <CustomerEpisodeEntity>
      <attributes>
        <add name="Origin" defaultValue="Casa">
          <options>
            <add value="Casa"/>
            <add value="Centro Salud"/>
            <add value="Otro"/>
          </options>
        </add>
      </attributes>
    </CustomerEpisodeEntity>
    <CustomerPolicyEntity maxRows="0">
      <attributes>
      </attributes>
    </CustomerPolicyEntity>
    <CustomerReservationEntity>
      <attributes>
        <add name="ReceptionWay" defaultValue="Solicitud hoja admisión">
          <options>
            <add value="Solicitud personal (directo)"/>
            <add value="Solicitud médica (directo)"/>
            <add value="Solicitud hoja admisión"/>
            <add value="Correo electrónico"/>
            <add value="Teléfono"/>
            <add value="Fax Administración"/>
            <add value="Fax Quirófano"/>
          </options>
        </add>
      </attributes>
    </CustomerReservationEntity>
	<RemittanceContentEntity maxRows="0">
	  <attributes>
	  </attributes>
	</RemittanceContentEntity>
  </entitySettings>
</administrative>
