<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ApplicationTitle" value="IndigoHIS"/>
  <!--<add key="ServiceURL" value="net.tcp://localhost:8089"/>-->
  <!--KeepAliveChannel: Permite indicar si los canales abiertos por los proxies de acceso a los servicios
      se mantienen abiertos para siguientes peticiones o se cierran al llamar al método Close()
      true: Los canales se mantienen abierto permitiendo que las siguientes peticiones 
            se procesen a mayor velocidad. Como contrapartida, el canal de comunicación
            con el servicio queda abierta y ocupa un thead del pool de conexiones
      false: Los canales se cierran liberando la comunicación para otros usuario. Por el contrario
            sucesivas peticiones al mismo servicio requerirán establecer de nuevo la comunicación
            obligando a realizar de nuevo todas las gestiones de negociación de seguridad y apertura.
  -->
  <add key="KeepAliveChannel" value="false"/>

  <!--SetupSchema permite definir que esquema de configuración tendrá la estación de trabajo.
      Los esquemas de configuración son gestionados por el servicio SII.HCD.Common.Services y
      son definidos en su fichero de configuración.
      Si no se define o el valor se deja en blanco, el sistema asumirá la configuración predeterminada
      definida en el servidor.
  -->
  <add key="SetupSchema" value="farmacia"/>

  <!-- Permite definir que Loayout de impresión que se utiliza al realizar la impresión de un grid -->
  <!--<add key="GridPrintLayout" value="printLayout.xml"/>-->
  
  <!-- AllowMultipleInstances -->
  <!--    true: Permite la ejecución de múltiples instancias del cliente de HCDIS -->
  <!--    false: Solo permite la ejecución de una UNICA instancia del cliente de HCDIS (Predeterminada)-->
  <add key="AllowMultipleInstances" value="true"/>

  <!-- Tema de la aplicación -->
  <!--<add key="StyleFileName" value="DarkGrey.isl"/>-->

  <!-- Configuración de la entrada de Lapiz/Tactil (ShowInkButton) -->
  <!-- Opciones:: Default 0, WhenInkAvailable = 1, Always = 2, Never = 3 -->
  <add key="ProvideInkSupport" value="Never"/>
  <!--Color usado para representar los períodos inactivos en una agenda-->
  <add key="ScheduleDisableBackgroundColor" value="Transparent"/>
  <!--Color usado para representar las líneas divisorias de los períodos inactivos en una agenda-->
  <add key="ScheduleDisableBorderColor" value="LightGray"/>
  <!--Color usado para representar las líneas divisorias de los períodos activos en una agenda-->
  <add key="ScheduleActiveBorderColor" value="Black"/>
  <!--Carpeta donde se despliegan los formatos de informes-->
  <add key="LocalReportFolder" value="LocalReport/"/>
  <!--Carpeta donde generar los documentos-->
  <add key="DocumentFolder" value="docs/"/>
  <!--Nombre del tipo de plantilla por defecto a usar para imprimir ordenes médicas-->
  <add key ="MedicalOrderTemplateTypeName" value ="MedicalOrderTemplate"/>
  <!--Nombre del tipo de plantilla por defecto a usar para imprimir informes de realización-->
  <add key ="RealizationTemplateTypeName" value ="RealizationReports"/>
  <!--Nombre del tipo de plantilla por defecto a usar para imprimir informes de episodios médicos-->
  <add key ="MedicalReportTemplateTypeName" value ="MedicalReports"/>
  <add key ="ObservationTemplateReportTemplateTypeName" value ="Observation, IndigoReports"/>
  <!--Esta plantilla esta en INGLES-->
  <add key="DefaultCHSummaryXSL" value="docs\xslt\CHSummaryTemplate.xslt"/>
  <!--Esta plantilla esta en ESPAÑOL-->
  <!--<add key="DefaultCHSummaryXSL" value="docs\xslt\CHSummaryTemplate-ES.xslt"/>-->

  <!--"PersonNameFormat": Indica el formato de representacion de nombres completos. En su ausencia se aplica el formato por defecto. -->
  <!--  'None' ó '0' : Aplica el valor por defecto: Nombre Apellido1 Apellido2 -->
  <!--  'FirstName_LastName' ó '1' : Nombre Apellido1 -->
  <!--  'FirstName_LastName_LastName2' ó '2' : Nombre Apellido1 -->
  <!--  'LastName_LastName2_FirstName' ó '3' : Apellido1 Apellido2 Nombre -->
  <!--  'LastName_LastName2_Comma_FirstName' ó '4' : Apellido1 Apellido2, Nombre -->
  <add key="PersonNameFormat" value="LastName_LastName2_Comma_FirstName"/>

  <!--  Fecha de filtrado de Inicio en días -->
  <add key="DefaultStudyReportFromDate" value="0"/>

  <!--  Tipo de identificador utilizado para identificar aseguradoras a partir del código de tarjeta sanitaria -->
  <add key="HealthCardIdentifierName" value="Tarjeta Sanitaria"/>

  <!-- Definición de informe para impresión informe de transformación de medicamentos en unidosis -->
  <add key="ReportName_TransformationReport" value="TransformationReport.rdlc"/>
  <!-- Definición de informe para impresión de etiquetas de transformación de medicamentos en unidosis -->
  <add key="ReportName_TransformationLabel" value="DrugTransformLabel_Avery_5163.rdlc"/>
  <!-- Definición de informe para impresión de etiquetas de kits de medicamentos -->
  <add key="ReportName_MakingKitReport" value="KitReport.rdlc"/>
  <!-- Definición de informe para impresión de etiquetas de kits de medicamentos -->
  <add key="ReportName_MakingKitLabel" value="DrugKitLabel_Avery_5163.rdlc"/>

  <!-- Definición de informe para impresión de lotes en la Caja registradora. CashRegister/BatchEntity -->
  <add key="ReportName_CashRegister_BatchLabel" value="BatchFormat.rdlc"/>
  <!-- Definición de informe para impresión de recivos en la Caja registradora. -->
  <add key="ReportName_CashRegister_ReceiptLabel" value="ReceiptFormat.rdlc"/>

  <!-- Definición de informe para impresión de la cita en lista de espera. -->
  <add key="ReportName_WaitingList_AppointmentLabel" value="Citation.rdlc"/>
  <!-- Definición de informe para impresión de la citas del dia de las agendas. -->
  <add key="ReportName_AppointmentsOfDayLabel" value="IBPrintAppointmentsOfDay.rdlc"/>
  <!-- Definición de informe para impresión de la solicitud de enfermeria. -->
  <add key="ReportName_NurseRequestLabel" value="IBNurseRequestFormat.rdlc"/>
  <!-- Definición de informe para impresión de la orden de reposición. -->
  <add key="ReportName_ReplenishmentOrderLabel" value="IBReplenishmentOrderFormat.rdlc"/>
  <!-- Definición de informe para impresión de la orden de reposición que muestra solo el apartado de Pedidos Por Paciente. -->
  <add key="ReportName_ReplenishmentOrderPacienteOnlyLabel" value="IBReplenishmentOrderFormatPacienteOnly.rdlc"/>
  <!-- Definición de informe para impresión de la orden de reposición que muestra solo el apartado de Medicamentos. -->
  <add key="ReportName_ReplenishmentOrderMedicamentoOnlyLabel" value="IBReplenishmentOrderFormatMedicamentoOnly.rdlc"/>
  <!-- Definición de informe para impresión de la orden de reposición. -->
  <add key="ReportName_ReplenishmentDiffOrderLabel" value="IBReplenishmentDiffOrderFormat.rdlc"/>  
  <!-- Definición de informe para impresión del pedido. --> 
  <add key="ReportName_RequestOrderLabel" value="IBRequestOrderFormat.rdlc"/>
  <!-- Definición de informe para impresión de Albaranes de Venta. -->
  <add key="ReportName_SalesOrderLabel" value="IBSalesOrderFormat.rdlc"/>
  <!-- Definición de informe para impresión de Facturas de Venta. -->
  <add key="ReportName_SalesOrderInvoiceLabel" value="SalesOrderInvoiceFormat.rdlc"/>

  <!-- Definición de informe para impresión de inventarios -->
  <add key="ReportName_StorageInventory_StorageInventory" value="IBStorageInventoryReport.rdlc"/>

  <!-- Definición de informe para impresión de pedidos -->
  <add key="ReportName_PurchaseOrder_General" value="PurchaseOrderFormat.rdlc"/>
  <!-- Definición de informe para impresión de citas. -->
  <add key="ReportName_Appointment_General" value="IBAppointmentReport.rdlc"/>

  <!-- Definición de tipos de informe para facturación. -->
  <add key="FacturaPrivadoAseguradoraUnico" value="IBInvoiceFormat.rdlc"/>
  <add key="AnexoFacturaPrivado" value="IBAnexoFacturaPrivado.rdlc"/>
  <add key="FacturaAseguradoraBloque" value="IBFacturaAseguradoraBloque.rdlc"/>
  <add key="FacturaAseguradoraBloqueGroupByAgreement" value="IBFacturaAseguradoraBloqueGroupByAgreement.rdlc"/>
  <add key="FacturaAseguradoraBloqueGroupByCoverAgreement" value="IBFacturaAseguradoraBloqueGroupByCoverAgreement.rdlc"/>
  <add key="FacturaFarmaciaAmbulante" value="FARMACIA"/>
  <add key="FacturaPrivadoID" value="19"/>
  <add key="FacturaAseguradoraID" value="21"/>
  <add key="FacturaAseguradoraBloqueID" value="20"/>
  <!--LLAMADA A EFARMACO -->
  <add key="EfarmacoIdcentro" value="9"/>
  <add key="EfarmacoUsuario" value="FARMAC"/>
  <add key="EfarmacoDescentro" value="CVB"/>
  <add key="EfarmacoIP" value="10.80.11.93/Ibermatica.eFarmaco.IU"/>
  <!--Fecha alta desde en facturacion censo de cargos-->
  <add key="FechaAltaDesdeCensoCargos" value="24/11/2015"/>
  <!--Hora carros complementarios-->
  <add key="HoraCarrosComplementarios" value="10:00"/>


  <!-- Caché de cliente activa, por defecto es 'true' -->
  <!--<add key="Cache" value="false"/>-->
  <!-- Excepciones en la caché de cliente 
        Ejemplos:
          Caché activa excepto para Artículos, médicos y ubicaciones
          <add key="CacheExceptions" value="Item,Physician,Location"/>          
          <add key="CacheExceptions" value="Item;Physician;Location"/>          
          <add key="CacheExceptions" value="Item|Physician|Location"/>          
          <add key="CacheExceptions" value="Item Physician Location"/>          

          Caché activa excepto para Artículos, médicos y ubicaciones en modo numérico hexadecimal
                      Item                      = 0x00100000,
                      OR Location               = 0x00200000,
                      OR Physician              = 0x00400000, 
                      Resultado                 = 0x00700000
          <add key="CacheExceptions" value="0x00700000"/>          
          <add key="CacheExceptions" value="0x00400000 0x00200000 0x00100000"/>          

          Caché activa excepto para Artículos, médicos y ubicaciones en modo numérico decimal
          <add key="CacheExceptions" value="7340032"/>          

        Valores disponibles
          Observation             = 0x00000001,
          ObservationType         = 0x00000002,
          ObservationBlock        = 0x00000004,
          ObservationTemplate     = 0x00000008,
          SpecialCategory         = 0x00000010,
          TimePattern             = 0x00000020,
          AvailPattern            = 0x00000040,
          OrderType               = 0x00000080,
          Order                   = 0x00000100,
          RoutineType             = 0x00000200,
          Routine                 = 0x00000400,
          RoutineTemplate         = 0x00000800,
          ProcedureClassification = 0x00001000,
          Procedure               = 0x00002000,
          ProtocolType            = 0x00004000,
          ProtocolClassification  = 0x00008000,
          Protocol                = 0x00010000,
          AssistanceServiceType   = 0x00020000,
          AssistanceService       = 0x00040000,
          PhysUnit                = 0x00080000,
          Item                    = 0x00100000,
          Location                = 0x00200000,
          Physician               = 0x00400000,
          DocumentTemplate        = 0x00800000,
      -->
  <!--<add key="CacheExceptions" value="ProtocolType, ProtocolClassification, Protocol"/>-->
  <add key="AuthenticationServiceType" value="SII.SIFP.Services.SecurityService.AuthenticationServiceProxy, SIFP.Services.SecurityService" />
  <add key="SecurityServiceType" value="SII.SIFP.Services.SecurityService.SecurityServiceProxy, SIFP.Services.SecurityService" />

  <!-- Permite definir el formato de grid prederterminado -->
  <!--   Valores permitidos  -->
  <!--     Default -->
  <!--     Blue -->
  <!--     Gray -->
  <!-- <add key="DefaultGridLayout" value="Gray"/> -->
  
  <!-- Permite que la impresión directa de informes guarde información de depuración en la carpeta temporal-->
  <add key="DirectReportDebug" value ="true"/>

  <!-- Indica si se carga la caché de cliente en hilos -->
  <add key="ThreadedCache" value ="false"/>
  <!-- Indica si se cargan los módulos de cliente/usuario en hilos -->
  <add key="ThreadedModules" value ="false"/>
  <add key="ThreadedEntityCache" value ="false"/>
  
  <!-- Define la impresora de facturación -->
  <!-- Si no se establece ninguna, se imprime por la predeterminada -->
  <!--<add key ="InvoicePrinterName" value="Microsoft XPS Document Writer"/>-->

  <!--Plantilla para el documento de la LOPD-->
  <add key="LOPDDocument" value="docs\pdf\LOPD.pdf"/>

  <!-- Define la opciónes que se van a utilizar en la hoja de toma de medicamentos -->
  <add key ="HoraInicioCalendarioPrescripciones" value="8"/>
  <add key ="HoraInicioDesayuno" value="8"/>  
  <add key ="HoraFinDesayuno" value="9"/>
  <add key ="HoraInicioComida" value="13"/>
  <add key ="HoraFinComida" value="14"/>
  <add key ="HoraInicioMerienda" value="16"/>
  <add key ="HoraFinMerienda" value="17"/>
  <add key ="HoraInicioCena" value="20"/>
  <add key ="HoraFinCena" value="21"/>

  <add key ="HoraInicioPrimerTurno" value="0"/>
  <add key ="HoraFinPrimerTurno" value="7"/>
  <add key ="HoraInicioSegundoTurno" value="8"/>
  <add key ="HoraFinSegundoTurno" value="15"/>
  <add key ="HoraInicioTercerTurno" value="16"/>
  <add key ="HoraFinTercerTurno" value="23"/>
  
  <add key ="ColorSeparadorPrimerTurnoInicio" value="YellowGreen"/>
  <add key ="ColorSeparadorPrimerTurnoFin" value="YellowGreen"/>
  <add key ="ColorSeparadorSegundoTurnoInicio" value="DarkBlue"/>
  <add key ="ColorSeparadorSegundoTurnoFin" value="DarkBlue"/>
  <add key ="ColorSeparadorTercerTurnoInicio" value="HotPink"/>
  <add key ="ColorSeparadorTercerTurnoFin" value="HotPink"/>
  <add key ="ColorCabeceraDesayuno" value="Orange"/>
  <add key ="ColorCabeceraComida" value="Lavender"/>
  <add key ="ColorCabeceraMerienda" value="Magenta"/>
  <add key ="ColorCabeceraCena" value="Tomato"/>

  <add key ="ImagenObservaciones" value="Images\Observaciones.png"/>

  <add key="RutaFicherosCMDB" value="C:\\Temp\\CMBD.txt" />

</appSettings>
