<?xml version="1.0" encoding="utf-8" ?>
<bindings>
	<basicHttpBinding>
		<binding name="basicHTTPSecureBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
			<readerQuotas maxStringContentLength="2147483647" />
			<security mode="TransportWithMessageCredential">
				<transport clientCredentialType="None" />
			</security>
		</binding>
	</basicHttpBinding>
	<netTcpBinding>
		<binding name="netTCPSecureBinding" openTimeout="00:40:00" sendTimeout="00:40:00"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
			<readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
			<security mode="TransportWithMessageCredential">
				<transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
				<message clientCredentialType="UserName" />
			</security>
		</binding>
		<binding name="netTCPSecureStreamBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
			<readerQuotas maxArrayLength="2147483647" />
			<security mode="TransportWithMessageCredential">
				<transport clientCredentialType="None" />
				<message clientCredentialType="UserName" />
			</security>
		</binding>
	</netTcpBinding>
</bindings>
