<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SII.HCD.Common.Entities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SII.HCD.Common.Entities.Properties.Settings>
            <setting name="EditorRequiredBackColor" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="EditorDefaultBackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="EditorRequiredForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="EditorDefaultForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="EditorDisabledForeColor" serializeAs="String">
                <value>InactiveCaptionText</value>
            </setting>
            <setting name="LabelRequiredForeColor" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="LabelDefaultForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StatusActiveColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="StatusCancelledColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="StatusConfirmedColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="StatusClosedColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="StatusPendingColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="StatusSupercededColor" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="StatusCompletedColor" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="StatusHeldColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="EditorDisabledBackColor" serializeAs="String">
                <value>244, 244, 244</value>
            </setting>
        </SII.HCD.Common.Entities.Properties.Settings>
    </userSettings>
</configuration>