<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SII.HCD.BackOffice.Entities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SII.HCD.BackOffice.Entities.Properties.Settings>
            <setting name="SchPendingColor" serializeAs="String">
                <value>Salmon</value>
            </setting>
            <setting name="SchInitiatedColor" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="SchCancelledColor" serializeAs="String">
                <value>Plum</value>
            </setting>
            <setting name="SchCompletedColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="SchAbortedColor" serializeAs="String">
                <value>Plum</value>
            </setting>
            <setting name="SchBlockedColor" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="SchBusyColor" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="SchFreeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SchOverbookingColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SchReservedColor" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="SchWaitingColor" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="SchConfirmedColor" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="SchPauseColor" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="SchScheduledColor" serializeAs="String">
                <value>Aquamarine</value>
            </setting>
            <setting name="SchSupercededColor" serializeAs="String">
                <value>Violet</value>
            </setting>
            <setting name="SupervisedColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="DailyFoodServiceNoneColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="DailyFoodServiceBreakfastColor" serializeAs="String">
                <value>DarkSalmon</value>
            </setting>
            <setting name="DailyFoodServiceMorningSnackColor" serializeAs="String">
                <value>PeachPuff</value>
            </setting>
            <setting name="DailyFoodServiceLunchColor" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="DailyFoodServiceAfternoonSnackColor" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="DailyFoodServiceDinnerColor" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="DailyFoodServiceEveningSnackColor" serializeAs="String">
                <value>PowderBlue</value>
            </setting>
            <setting name="DailyFoodServiceOtherMealColor" serializeAs="String">
                <value>Plum</value>
            </setting>
            <setting name="SchMissedColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
        </SII.HCD.BackOffice.Entities.Properties.Settings>
    </userSettings>
</configuration>