<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SII.HCD.BackOfficeModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SII.HCD.BackOfficeModule.Properties.Settings>
            <setting name="SchPendingColor" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="SchInitiatedColor" serializeAs="String">
                <value>PaleGoldenrod</value>
            </setting>
            <setting name="SchCancelledColor" serializeAs="String">
                <value>LightSalmon</value>
            </setting>
            <setting name="SchCompletedColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="SchAbortedColor" serializeAs="String">
                <value>Plum</value>
            </setting>
            <setting name="SchScheduledColor" serializeAs="String">
                <value>MediumPurple</value>
            </setting>
            <setting name="LabelToolBackColor" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="LabelToolBackColor2" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="LabelToolForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LabelToolBackGradientStyle" serializeAs="String">
                <value>BackwardDiagonal</value>
            </setting>
            <setting name="LabelToolFontDataBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvailReservedColor" serializeAs="String">
                <value>0, 190, 165</value>
            </setting>
            <setting name="AvailOverbookingColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="AvailBlockedColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="AvailMaintenanceColor" serializeAs="String">
                <value>160, 0, 50</value>
            </setting>
            <setting name="AvailAbortedColor" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="AvailBusyColor" serializeAs="String">
                <value>0, 70, 190</value>
            </setting>
            <setting name="AvailScheduleColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="AvailFreeColor" serializeAs="String">
                <value>130, 190, 0</value>
            </setting>
            <setting name="DayOffBorderColor" serializeAs="String">
                <value>LavenderBlush</value>
            </setting>
            <setting name="DayOffBodyColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="WorkSchBackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AvailSelectedColor" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="AvailMultipleColor" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="ScheduleDisableBackgroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="SchBlockedColor" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="SchBusyColor" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="SchFreeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SchOverbookingColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SchReservedColor" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="AvailCleaningColor" serializeAs="String">
                <value>160, 210, 255</value>
            </setting>
            <setting name="TransformLabelPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="MakingKitBatchLabelPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialCategoryBackColor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="SpecialCategoryAccessColor" serializeAs="String">
                <value>LawnGreen</value>
            </setting>
            <setting name="CustomerNameConfidentialityColor" serializeAs="String">
                <value>PeachPuff</value>
            </setting>
            <setting name="LOPD_Firmado" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="LOPD_NoFirmado" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LOPD_Revocado" serializeAs="String">
                <value>Violet</value>
            </setting>
        </SII.HCD.BackOfficeModule.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
        <bindings>
              <customBinding>
                    <binding name="DeviceService" closeTimeout="00:30:00" openTimeout="00:30:00"
                          receiveTimeout="24.20:31:23.6470000" sendTimeout="00:30:00">
                          <textMessageEncoding messageVersion="Soap12" />
                          <httpTransport />
                    </binding>
                    <binding name="CPOEService">
                          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                                messageVersion="Soap12" writeEncoding="utf-8">
                                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                          </textMessageEncoding>
                          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                                maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                                bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                                keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                                realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                                useDefaultWebProxy="true" />
                    </binding>
              </customBinding>
              <netTcpBinding>
                    <binding name="Security" closeTimeout="00:01:00" openTimeout="00:01:00"
                          receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
                          transferMode="Buffered" transactionProtocol="OleTransactions"
                          hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                          maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
                          maxReceivedMessageSize="65536">
                          <readerQuotas maxDepth="64" maxStringContentLength="8192" maxArrayLength="16384"
                                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                          <reliableSession ordered="true" inactivityTimeout="00:10:00"
                                enabled="false" />
                          <security mode="TransportWithMessageCredential">
                                <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                                <message clientCredentialType="UserName" algorithmSuite="Default" />
                          </security>
                    </binding>
              </netTcpBinding>
        </bindings>
        <client>
              <endpoint address="net.tcp://localhost:8183/dashboard/dashboardService.svc"
                    binding="netTcpBinding" bindingConfiguration="Security"
                    contract="Dashboard.IDashboardModuleService" name="Security">
                    <identity>
                          <dns value="mdcom" />
                    </identity>
              </endpoint>
              <endpoint address="http://localhost:9083/storageDevice/StorageDeviceService.svc"
                    binding="customBinding" bindingConfiguration="DeviceService"
                    contract="StorageDeviceInterop.IStorageDeviceService" name="StorageDeviceService" />
              <endpoint address="http://localhost:9083/CPOE/CPOEService.svc"
                    binding="customBinding" bindingConfiguration="CPOEService"
                    contract="CPOEInterop.ICPOEServices" name="CPOEService" />
        </client>
    </system.serviceModel>
</configuration>
