<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SII.HCD.AdministrativeModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <SII.HCD.AdministrativeModule.Properties.Settings>
      <setting name="LabelToolBackColor" serializeAs="String">
        <value>Navy</value>
      </setting>
      <setting name="LabelToolBackColor2" serializeAs="String">
        <value>AliceBlue</value>
      </setting>
      <setting name="LabelToolForeColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="LabelToolBackGradientStyle" serializeAs="String">
        <value>BackwardDiagonal</value>
      </setting>
      <setting name="LabelToolFontDataBold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SchPendingColor" serializeAs="String">
        <value>LightCyan</value>
      </setting>
      <setting name="SchInitiatedColor" serializeAs="String">
        <value>PaleGoldenrod</value>
      </setting>
      <setting name="SchCancelledColor" serializeAs="String">
        <value>LightSalmon</value>
      </setting>
      <setting name="SchCompletedColor" serializeAs="String">
        <value>PaleGreen</value>
      </setting>
      <setting name="SchAbortedColor" serializeAs="String">
        <value>Plum</value>
      </setting>
      <setting name="SchBlockedColor" serializeAs="String">
        <value>Coral</value>
      </setting>
      <setting name="SchBusyColor" serializeAs="String">
        <value>LemonChiffon</value>
      </setting>
      <setting name="SchFreeColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="SchOverbookingColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="SchReservedColor" serializeAs="String">
        <value>LightCyan</value>
      </setting>
      <setting name="SchScheduledColor" serializeAs="String">
        <value>Aquamarine</value>
      </setting>
      <setting name="SchPauseColor" serializeAs="String">
        <value>255, 192, 128</value>
      </setting>
      <setting name="SchConfirmedColor" serializeAs="String">
        <value>PaleGreen</value>
      </setting>
      <setting name="CustomerEpisodePendingsColor" serializeAs="String">
        <value>Plum</value>
      </setting>
      <setting name="CustomerNameConfidentialityColor" serializeAs="String">
        <value>PeachPuff</value>
      </setting>
      <setting name="StatusPending" serializeAs="String">
        <value>LightCoral</value>
      </setting>
      <setting name="StatusActive" serializeAs="String">
        <value>Khaki</value>
      </setting>
      <setting name="StatusConfirmedClosedCompleted" serializeAs="String">
        <value>PaleGreen</value>
      </setting>
      <setting name="StatusHeld" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="StatusCancelledSuperceded" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="PreAssessmentReasonBackColor" serializeAs="String">
        <value>Gainsboro</value>
      </setting>
      <setting name="SpecialCategoryBackColor" serializeAs="String">
        <value>Maroon</value>
      </setting>
      <setting name="SpecialCategoryAccessColor" serializeAs="String">
        <value>LawnGreen</value>
      </setting>
      <setting name="SchMissedColor" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="LOPD_Firmado" serializeAs="String">
        <value>YellowGreen</value>
      </setting>
      <setting name="LOPD_NoFirmado" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="LOPD_Revocado" serializeAs="String">
        <value>Violet</value>
      </setting>
      <setting name="Cycle" serializeAs="String">
        <value>192, 0, 0</value>
      </setting>
    </SII.HCD.AdministrativeModule.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="MedicalWSService" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <httpTransport />
        </binding>
        <binding name="IDISDeviceService">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="MedicalWSService1">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8089/medicalWS/MedicalWSService.svc"
        binding="netTcpBinding" bindingConfiguration="MedicalWSService1"
        contract="MedicalWS.IMedicalWSService" name="MedicalWSService">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9083/IDISDevice/IDISDeviceService.svc"
        binding="customBinding" bindingConfiguration="IDISDeviceService"
        contract="IDISDeviceInterop.IIDISDeviceService" name="IDISDeviceService" />
    </client>
  </system.serviceModel>


</configuration>
