<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SII.HCD.StorageDevice.Interop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SII.HCD.StorageDevice.Interop.Properties.Settings>
      <setting name="SII_HCD_StorageDevice_Interop_GrifolsService_DefaultAcceptMessageClient"
          serializeAs="String">
        <value>http://10.80.11.71:12999/services/MirthReceptorPyxisWS</value>
      </setting>
    </SII.HCD.StorageDevice.Interop.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultAcceptMessagePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.80.11.71:12999/services/MirthReceptorPyxisWS"
        binding="basicHttpBinding" bindingConfiguration="DefaultAcceptMessagePortBinding"
        contract="GrifolsService.DefaultAcceptMessage" name="DefaultAcceptMessagePort" />
    </client>
  </system.serviceModel>
</configuration>