<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SII.HCD.Addin.MDSSpain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <clientCredentials>
            <clientCertificate findValue="" storeLocation="LocalMachine" x509FindType="FindBySubjectName"/>
            <serviceCertificate>
              <defaultCertificate findValue="mdcom" storeLocation="LocalMachine" x509FindType="FindBySubjectName"/>
              <authentication revocationMode="NoCheck" trustedStoreLocation="LocalMachine"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="ClientReportBehavior">
          <clientCredentials>
            <serviceCertificate>
              <defaultCertificate findValue="mdcom" storeLocation="LocalMachine"
                x509FindType="FindBySubjectName" />
              <authentication revocationMode="NoCheck" trustedStoreLocation="LocalMachine" />
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="MDS.Country">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MDS.Province">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MDS.Municipality" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MDS.WayType">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MDS.AdmitReason">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MDS.LeaveReason">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MDS.LeaveService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MDS.FinancingType">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MDS.TransferCareCenter">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="Common.ElementService" closeTimeout="12:00:00" openTimeout="12:00:00" sendTimeout="12:00:00" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8089/mds/country.svc"
        binding="netTcpBinding" bindingConfiguration="MDS.Country" contract="OwnedAddinMDSClient.IMDS_CountryService"
        name="MDS.Country">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/mds/province.svc"
        binding="netTcpBinding" bindingConfiguration="MDS.Province"
        contract="OwnedAddinMDSClient.IMDS_ProvinceService" name="MDS.Province">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/mds/municipality.svc"
        binding="netTcpBinding" bindingConfiguration="MDS.Municipality"
        contract="OwnedAddinMDSClient.IMDS_MunicipalityService" name="MDS.Municipality">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/mds/wayType.svc"
        binding="netTcpBinding" bindingConfiguration="MDS.WayType" contract="OwnedAddinMDSClient.IMDS_WayTypeService"
        name="MDS.WayType">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/mds/admitreason.svc"
        binding="netTcpBinding" bindingConfiguration="MDS.AdmitReason"
        contract="OwnedAddinMDSClient.IMDS_AdmitReasonService" name="MDS.AdmitReason">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/mds/leavereason.svc"
        binding="netTcpBinding" bindingConfiguration="MDS.LeaveReason"
        contract="OwnedAddinMDSClient.IMDS_LeaveReasonService" name="MDS.LeaveReason">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/mds/leaveservice.svc"
        binding="netTcpBinding" bindingConfiguration="MDS.LeaveService"
        contract="OwnedAddinMDSClient.IMDS_LeaveServiceService" name="MDS.LeaveService">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/mds/financingtype.svc"
        binding="netTcpBinding" bindingConfiguration="MDS.FinancingType"
        contract="OwnedAddinMDSClient.IMDS_FinancingTypeService" name="MDS.FinancingType">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/mds/transfercarecenter.svc"
        binding="netTcpBinding" bindingConfiguration="MDS.TransferCareCenter"
        contract="OwnedAddinMDSClient.IMDS_TransferCareCenterService"
        name="MDS.TransferCareCenter">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8089/common/Element/ElementService.svc"
        binding="netTcpBinding" bindingConfiguration="Common.ElementService"
        contract="ElementServiceClient.IElementService" name="Common.ElementService">
        <identity>
          <dns value="mdcom" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <SII.HCD.Addin.MDSSpain.Properties.Settings>
      <setting name="LastExportPath" serializeAs="String">
        <value>C:\Temp\CMBD.txt</value>
      </setting>
    </SII.HCD.Addin.MDSSpain.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="HCDIS.Services.UserName" value="Administrador"/>
    <add key="HCDIS.Services.Password" value="IBimq*ADMIN"/>
    <add key="HCDIS.UserNameBD" value="sa"/>
    <add key="HCDIS.PasswordBD" value="pass@word1"/>
    <add key="HCDIS.DataSource" value="HCDISBEFE"/>
    <add key="HCDIS.InitialCatalog" value="HCDIS_OPT"/>
    <add key="HCDIS.Security" value="HCDISSecurity"/>
    <add key="HCDIS.Rol" value="PERIODOFACTURACION"/>
  </appSettings>
</configuration>
