form label{ font-weight:normal;}

/*Modificamos el alto de las cabeceras del datatable*/
/*comentar esta línea porque al meter los fixed columns... el datatable cambia el nombre de las clases (le añade un prefijo)*/
/*.dataTables_wrapper .dataTables_scrollHead table.dataTable thead tr th {padding: 5px 18px !important;}*/

table th {
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;   
    white-space: nowrap;
}

 /*th, td { white-space: nowrap; }*/
