 .container  {
    width:970px !important;
}


span.glyphicon.glyphicon-new-window{
    color: #b94a48;
}

i.glyphicon.glyphicon-user, i.fa.fa-compress{
    color: #b94a48;
}

div.table-responsive {
    margin-top: 8px;   
    border: 1px solid #ddd;    
}

div.table-responsive table{
    margin-bottom: 0px;
}

.table>tbody>tr>td:first-child {
    padding-left:25px;
}

.table>thead>tr>th:first-child {
    padding-left:25px;
}

.table>tbody>tr>td:first-child span.glyphicon:first-child{
    margin-left:-20px;
    display:inline-block;
    width:20px;
}

.table>tbody>tr>td:first-child i:first-child{
    margin-left:-20px;
    display:inline-block;
    width:20px;
}

#divSalTramite {
    margin-top: 18px;
    padding-left: 7px;
}

#divSalTramite i {
    margin-left:15px;
}

#modal-solicitar div.row{
    margin:0px 5px 5px 5px;
}

#modal-solicitar input,#modal-solicitar select,#modal-solicitar textarea{
    width:100%;
}

#modal-solicitar input:disabled{
    background-color:#fff !important;
    cursor:not-allowed !important;
}

#idtbody {
    cursor:pointer;
}

#idtbody > tr.active {
    background-color:#D8D8D8 !important;
}

/*Tenemos que heredar la clase activa del padre(tr)*/
#idtbody > tr.active > td {
    background-color:inherit;
}

#modal-anular textarea {
    width:100%;
}

.modal button {
    margin-right: 10px;
}

table > thead > tr > th {
    border-bottom:0 !important;
}

#btnModalAnular {
    margin-left:7px;
}

/*HEADER FIXED*/
.header-fixed {
    width: 100%;
}

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        display: block;
    }



thead {
    width: 100%; /* scrollbar is average 1em/16px width, remove it from thead width */
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

/*Alto del contenedor de la tabla (tbody)*/
.header-fixed > tbody {
    overflow-y: auto;
    height: 55vh;
}

    /*COLUMNA 1*/

.header-fixed > tbody > tr > td:nth-child(1) {
    width: 35%;
    float: left;
}

.header-fixed > thead > tr > th:nth-child(1) {
    width: 35%;
    float: left;
}
/*COLUMNA 2*/
.header-fixed > tbody > tr > td:nth-child(2) {
    width: 30%;
    float: left;
}

.header-fixed > thead > tr > th:nth-child(2) {
    width: 30%;
    float: left;
}

/*COLUMNA 3*/
.header-fixed > tbody > tr > td:nth-child(3) {
    width: 30%;
    float: left;
}

.header-fixed > thead > tr > th:nth-child(3) {
    width: 30%;
    float: left;
}

/*COLUMNA 4*/
.header-fixed > tbody > tr > td:nth-child(4) {
    width: 5%;
    float: left;
}

.header-fixed > thead > tr > th:nth-child(4) {
    width: 5%;
    float: left;
}

/*FIN HEADER FIXED*/

/*Para resoluciones mayores*/
@media (min-width: 1200px) {
    .container {
        width:1170px !important;
    }
}

/*@media only screen and (max-device-height:768px){
   
    .header-fixed > tbody {
        overflow-y: auto;
        height: 375px;
    }
}*/