/*LISTA DUAL*/
.container {
    width:970px !important;
}
.dual-list .list-group {
    margin-top: 8px;
    max-height: 60vh;
    overflow: auto;
    margin-bottom:10px;
}

.list-left li, .list-right li {
    cursor: pointer;
    height: 24px;
    font-size: 14px;
}

li.list-group-item {
    display: table;
    width:100%;
}

.dual-list li {
    padding: 0 15px;
            
}

.list-arrows {
    padding-top: 100px;
}

.list-arrows button {
    margin-bottom: 20px;
}

div.input-group {
    padding-right: 15px !important;
}

@media (min-width: 1200px) {
    .container {
        width:1170px !important;
    }
}