<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="receiveEventSection" type="SII.HCD.Addin.HL7File.ReceiveEventsConfigurationSection, SII.HCD.Addin.HL7File" requirePermission="true" />
  </configSections>
  <appSettings>
    <add key="hl7folder" value="C:\work\HL7FIle" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="DeviceService"  closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="24.20:31:23.6470000" sendTimeout="00:30:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9083/IDISDevice/IDISDeviceService.svc" binding="customBinding" bindingConfiguration="DeviceService" contract="IDISDeviceService.IIDISDeviceService" name="IDISDeviceService" />
    </client>
  </system.serviceModel>
  <receiveEventSection>
    <receiveEvents>
      <add eventName="NW" exitus="true" />
      <add eventName="COR" exitus="true" />
      <add eventName="COA" exitus="true" />
      <add eventName="AOA" exitus="true" />
      <add eventName="DO" exitus="true" />
      <add eventName="XO" exitus="true" />
      <add eventName="AUNO" exitus="true" />
      <add eventName="SO" exitus="true" />
      <add eventName="RO" exitus="true" />
      <add eventName="FO" exitus="true" />
      <add eventName="CHSO" exitus="true" />
      <add eventName="CSOA" exitus="true" />
      <add eventName="ASOA" exitus="true" />
      <add eventName="XSO" exitus="true" />
      <add eventName="ASO" exitus="true" />
      <add eventName="DSC" exitus="true" />
      <add eventName="MSO" exitus="true" />
      <add eventName="HSO" exitus="true" />
      <add eventName="PTA" exitus="true" />
      <add eventName="PTAP" exitus="true" />
      <add eventName="XPTA" exitus="true" />
      <add eventName="XPTAP" exitus="true" />
      <add eventName="OIP" exitus="true" />
      <add eventName="DOIP" exitus="true" />
      <add eventName="DOIPA" exitus="true" />
      <add eventName="CO" exitus="true" />
      <add eventName="RPTO" exitus="true" />
    </receiveEvents>
  </receiveEventSection>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>