<?xml version="1.0"?>
<!-- 
aNote: As an alternative to pointer editing this file you can use the web admin tool to configure settings for your application. 
Use the Website->Asp.Net Configuration option in Visual Studio.
A full list of settings and comments can be found in machine.config.comments usually located in \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="UploadModuleManagement" type="UploadModule.UploadModule, UploadModule"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="ENTORNO" connectionString="D"/>
    <!-- ENTORNO = 'D' DESARROLLO 'E' EXPLOTACIÓN -->
	 <add name="ConexionDesarrollo" connectionString="server=IBDISDESA01;database=IBERGLOBAL;uid=USU_APLICACION;pwd=santaclara;Trusted_Connection=no;app=SUPER;"/>
	 <add name="ConexionExplotacion" connectionString="server=IBSERVIBD;database=IBERGLOBAL;uid=USU_APLICACION;pwd=santaclara;Trusted_Connection=no;app=SUPER;"/>
    <!-- Cadenas de conexión para la gestión de roles en la aplicación -->
    <add name="LocalSqlServer" connectionString="Cadena que se actualiza en el global.asax para la gestión de roles en la aplicación"/>
    <add name="LocalSqlServerD" connectionString="server=IBSERVIBD;database=ASPNET;uid=usu_aplicacion;Password=santaclara;app=SUPER;"/>
    <add name="LocalSqlServerE" connectionString="server=IBSERVIBD;database=ASPNET;uid=usu_aplicacion;Password=santaclara;app=SUPER;"/>
  </connectionStrings>
  <log4net>
    <!-- <log4net threshold="OFF"> -->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Logs\SUPER.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="100"/>
      <rollingStyle value="Composite"/>
      <maximumFileSize value="10MB"/>
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %type - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <location allowOverride="true" path="Log">
    <system.web>
      <httpHandlers>
        <add verb="*" path="Log" type="Type1"/>
      </httpHandlers>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <UploadModuleManagement bufferSize="1024" pages="capa_presentacion/documentos/subir.aspx"/>
  <!-- En local no funciona la barra de progreso por el IIS virtual del VS 2005-->
  <!-- Tragicomixnet: pages="super/capa_presentacion/documentos/subir.aspx"-->
  <!-- IBSERVIBD y local: pages="capa_presentacion/documentos/subir.aspx"-->
  <system.web>
    <httpModules>
      <add name="UploadModule" type="UploadModule.UploadModule, UploadModule"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <!--<httpRuntime executionTimeout="600" maxRequestLength="25600" useFullyQualifiedRedirectUrl="false" 
        minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>-->
    <!--Puesto a mano para salvar el límte por defecto de 4Mb de subida/bajada y pasarlo a 200Mb-->
    <httpRuntime executionTimeout="600" maxRequestLength="614400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--       <add assembly="CrystalDecisions.Enterprise.Web, Version=11.5.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Viewing.ReportSource, Version=11.5.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=11.5.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=11.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=11.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=11.5.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=11.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=11.5.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=11.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=11.5.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=11.5.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
-->       
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!-- <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
      </assemblies>
    </compilation>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>-->
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
    <pages enableViewStateMac="false" theme="Corporativo">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <siteMap defaultProvider="xmlSiteMapMenu" enabled="true">
      <providers>
        <add name="xmlSiteMapMenu" description="Proveedor SiteMap para leer un archivo XML .sitemap con la estructura en Castellano." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="bsweb.sitemap" securityTrimmingEnabled="true"/>
        <!--<add name="xmlSiteMapMenu" description="Proveedor SiteMap para leer un archivo XML .sitemap con la estructura en Castellano." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>-->
      </providers>
    </siteMap>
    <roleManager defaultProvider="SqlRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="LocalSqlServer" applicationName="/SUPER" name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60"/>
    <!--<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60"/>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>-->
    <globalization requestEncoding="iso-8859-15" responseEncoding="iso-8859-15" culture="es-ES" uiCulture="es-ES"/>
    <httpHandlers>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="ENTORNO" value="D"/>
    <add key="ServidorSMTP" value="OUTLOOK.INTRANET.IBERMATICA"/>
    <!--URL DE ACCESO AL SERVIDOR DE REPORTING SERVICES DESDE LA RED INTERNA-->
    <add key="SERVIDOR_RS_D" value="http://informesdes.intranet.ibermatica/Default.aspx"/>
    <add key="SERVIDOR_RS_E" value="http://informes.intranet.ibermatica/Default.aspx"/>
    <!--URL DE ACCESO AL SERVIDOR DE REPORTING SERVICES DESDE LA EXTRANET-->
    <add key="SERVIDOR_RS_EX" value="https://informes.ibermatica.com/Default.aspx"/>
    <add key="ImagenesCorreo" value="http://imagenes.ibermatica.com/SUPERNET/"/>
    <add key="CODIGO_APLICACION" value="14"/>
    <add key="MOSTRAR_MOTIVO_PROY" value="1"/>
    <add key="MOSTRAR_SOLODIS" value="1"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="CorreoPlazoOF" value="modifcondicionespago@Ibermatica.com"/>
    <add key="CorreoDEF" value="Cau-DEF@ibermatica.com"/>
    <add key="CorreoFormacion" value="formacion@ibermatica.com"/>
    <add key="CorreoCertificaciones" value="Certificaciones@ibermatica.com"/>
    <add key="CarpetaExcel" value="D:\Inetpub\wwwroot\ExcelTemp\"/>
    <add key="UrlForaneo" value="https://superibfor.ibermatica.com"/>
    <add key="wsSAP.z_get_invoice_pdf_b64" value="http://ibservisapexp.intranet.ibermatica:8000/sap/bc/srt/rfc/sap/z_get_invoice_pdf_b64/100/z_get_invoice_pdf_b64/z_get_invoice_pdf_b64_binding"/>
    <add key="wsSapSaldo" value="http://VMSAPIBE.intranet.ibermatica:8000/sap/bc/srt/rfc/sap/zvista_pa_ws/100/zvista_pa_ws/zb_vista_pa_ws"/>
    <add key="IBERSMS.SMS" value="http://ibersms.intranet.ibermatica/SMS.svc"/>
    <add key="svcEmail.svcEmail" value="https://ibserviweb:8440/Robocor2Listener/svcEmail.asmx"/>
    <add key="TamMaxContentServer" value="50 Mb"/>
    <!--<add key="CertificadoPath" value="D:\Inetpub\wwwroot\SUPER\Certificado"/>-->
    <add key="CertificadoPath" value=""/>
    <add key="numExportaOnline" value="20"/>
    <add key="segMediaCV" value="10"/>
    <add key="pathGuardarCVT" value="D:\\CVTEXPORT\\"/>
    <add key="TamMaxPack" value="1946"/>
    <add key="CRsFavoritosFichIAP" value="276"/>
    <!--<add key="pathFicherosIAP" value="D:\cursos\ficheros" />
    <add key="pathFicherosIAP" value="\\ibdatdo\area\grupos\ssii\super\sql\supernet\mes\envio"/>-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="SMTP_from" value="EDA@ibermatica.com"/>
    <add key="SMTP_to" value="AMS-DIS-ERRAPP@ibermatica.com"/>
    <add key="SMTP_to_DES" value="EDA_DES@ibermatica.com"/>
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy proxyaddress="http://proxy.intranet.ibermatica:8080" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="ChartImageHandler"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IsvcCVT" closeTimeout="23:59:00" openTimeout="23:59:00" receiveTimeout="23:59:00" sendTimeout="23:59:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="23:59:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IsvcSUPER1" closeTimeout="23:59:00" openTimeout="23:59:00" receiveTimeout="23:59:00" sendTimeout="23:59:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="23:59:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IsvcEXCEL" closeTimeout="23:59:00" openTimeout="23:59:00" receiveTimeout="23:59:00" sendTimeout="23:59:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="23:59:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IsvcSUPER" closeTimeout="23:59:00" openTimeout="23:59:00" receiveTimeout="23:59:00" sendTimeout="23:59:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="23:59:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_ISendPack" closeTimeout="00:10:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536" portSharingEnabled="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows" algorithmSuite="Default"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IConserva" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.intranet.ibermatica/ConservaListener/Conserva.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConserva" contract="svcConserva.IConserva" name="WSHttpBinding_IConserva">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ibservioffice:8451/IBOffice/svcEXCEL/svcExcel" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IsvcEXCEL" contract="svcEXCEL.IsvcEXCEL" name="NetTcpBinding_IsvcEXCEL">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ibservioffice:8451/IBOffice/svcCVT/svcCVT" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IsvcCVT" contract="svcCVT.IsvcCVT" name="NetTcpBinding_IsvcCVT">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ibservioffice:8451/IBOffice/svcSUPER/svcSUPER" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IsvcSUPER" contract="svcSUPER.IsvcSUPER" name="NetTcpBinding_IsvcSUPER">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://services.intranet.ibermatica:103/SUPER-CVT/svcSUPER.svc/svcCVT" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IsvcSUPER1" contract="svcSUPERIBOffice.IsvcSUPER" name="NetTcpBinding_IsvcSUPER1">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ibwebcorp01.intranet.ibermatica:103/SendPack/SendPack.svc/SendPack" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISendPack" contract="svcSendPack.ISendPack" name="NetTcpBinding_ISendPack">
        <identity>
          <servicePrincipalName value="host/IBWEBCORP01.intranet.ibermatica"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>