 .container  {
    width:970px !important;
}


/*HEADER FIXED*/
.header-fixed {
    width: 100%;
}

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        display: block;
    }



thead {
    width: 100%; /* scrollbar is average 1em/16px width, remove it from thead width */
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

/*Alto del contenedor de la tabla (tbody)*/
.header-fixed > tbody {
    overflow-y: auto;
    height: 40vh;
}

/*COLUMNA 1*/

.header-fixed > tbody > tr > td:nth-child(1) {
    width: 5%;
    float: left;
}

.header-fixed > thead > tr > th:nth-child(1) {
    width: 5%;
    float: left;
}

.header-fixed > tbody > tr > td:nth-child(2) {
    width: 80%;
    float: left;
}

.header-fixed > thead > tr > th:nth-child(2) {
    width: 80%;
    float: left;
}

/*COLUMNA 2*/
.header-fixed > tbody > tr > td:nth-child(3) {
    width: 15%;
    float: left;
}

.header-fixed > thead > tr > th:nth-child(3) {
    width: 15%;
    float: left;
}



/*FIN HEADER FIXED*/



#tbdProf {
    height:50vh;
    cursor:pointer;
}

#tbdProf > tr.active {
    background-color:#D8D8D8 !important;
}

/*Tenemos que heredar la clase activa del padre(tr)*/
#tbdProf > tr.active > td {
    background-color:inherit;
}

/*#tbdProf > tr > td:nth-child(1) {
    width:38px;
}*/

.bsAlert {
    left:0 !important;
}

#btnEliminar {
    margin-left:10px;
    background-color:#428bca;
    color:#FFF;
}

#btnNoEnvio {
    margin-left:7px;
}


/*Para resoluciones mayores*/
@media (min-width: 1200px) {
    .container {
        width:1170px !important;
    }
}