<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="doctorNotesSection" type="SII.HCD.Addin.EtiquetasRX.EtiquetasRXConfiguration, SII.HCD.Addin.EtiquetasRX" requirePermission="true" />
  </configSections>
  <doctorNotesSection default="default" >
    <doctorNotes>
      <add name="default" title="Etiquetas para informes de RX"
                     report="Addins\EtiquetasRX\Reports\IBEtiquetas_RX_VB.rdlc"
                     dateSelectionMode="All">
 <!--<add name="default" title="Etiquetas para informes de RX"
                     report="Addins\EtiquetasRXAddin\Reports\IBEtiquetas_RX_VB.rdlc"
                     petitionerRequired="false"
                     identifierRequired="false"
                     dateRequired="true"
                     identifierValidator="EtiquetasRXAddin.NIFValidator,EtiquetasRXAddin"
                     dateSelectionMode="All"> -->
        <!-- dateSelectionMode: [None, MedicalOrder, Manual, All] -->
        <orderTypes>
          <add code="DIAGIMG"/>
        </orderTypes>
      </add>
    </doctorNotes>
  </doctorNotesSection>
  <appSettings>
    <!-- Addin credentials-->
    <add key="HCDISUserName"  value="Administrador" />
    <add key="HCDISPassword"  value="IBimq*ADMIN" />

    <add key="ImpresoraEtiquetas"  value="ZDesigner GC420d (EPL)" />
    <!-- <add key="ImpresoraEtiquetas"  value="PDFCreator" /> -->
    
    <!-- Default authorization comment -->
    <add key="DefaultAuthorizationComment" value="[Created by Authorization Addin]"/>
  </appSettings>
  <system.serviceModel>
        <bindings>
              <netTcpBinding>
                    <binding name="Assistance.ActivityService">
                          <security mode="TransportWithMessageCredential">
                                <message clientCredentialType="UserName" />
                          </security>
                    </binding>
                    <binding name="Administrative.CustomerOrderRequestService">
                          <security mode="TransportWithMessageCredential">
                                <message clientCredentialType="UserName" />
                          </security>
                    </binding>
                    <binding name="Administrative.CustomerOrderRequestService1">
                          <security mode="TransportWithMessageCredential">
                                <message clientCredentialType="UserName" />
                          </security>
                    </binding>
              </netTcpBinding>
        </bindings>
        <client>
              <endpoint address="net.tcp://localhost:8089/assistance/Activity/ActivityService.svc"
                    binding="netTcpBinding" bindingConfiguration="Assistance.ActivityService"
                    contract="HCDIS.Activity.IActivityService" name="Assistance.ActivityService">
                    <identity>
                          <dns value="mdcom" />
                    </identity>
              </endpoint>
              <endpoint address="net.tcp://localhost:8089/administrative/CustomerOrderRequest/CustomerOrderRequestService.svc"
                    binding="netTcpBinding" bindingConfiguration="Administrative.CustomerOrderRequestService"
                    contract="CustomerOrderRequest.ICustomerOrderRequestService"
                    name="Administrative.CustomerOrderRequestService">
                    <identity>
                          <dns value="mdcom" />
                    </identity>
              </endpoint>
        </client>
    </system.serviceModel>
</configuration>