<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HCDDB" connectionString="Data Source=(local);Initial Catalog=HCDIS;User id=sa; password=pass@word1"
        providerName="System.Data.SqlClient" />
    <add name="Encoders" connectionString="Data Source=(local);Initial Catalog=HCDISEncoders;User id=sa; password=pass@word1"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="StartInvoicingDate" value=""/>
    <add key="EndInvoicingDate" value=""/>
  </appSettings>
</configuration>
