/*LISTA DUAL*/
.container {
    width:970px !important;
}
#lisProfesionales.dual-list .list-group, #lisCR.dual-list .list-group, #lisEmpresas.dual-list .list-group, #lisProfesionalesForzados.dual-list .list-group {
    margin-top: 8px;
    max-height: 35vh;
    overflow: auto;
    margin-bottom:10px;
}

table {
      margin-top: 8px;
    max-height: 35vh;
    overflow: auto;
    margin-bottom:10px;
    display:block;
}

#ulProfesionales1 tr, #ulProfesionales2 tr {
    cursor:pointer;
}
#ulProfesionales1 td, #ulProfesionales2 td{
   padding:10px 5px 10px 25px !important;
   background-color:#FFF;
}

#ulProfesionales1 tr.active, #ulProfesionales2 tr.active  {
    background-color:#D8D8D8 !important;
}
/*Tenemos que heredar la clase activa del padre(tr)*/
#ulProfesionales1 tr.active > td, #ulProfesionales2 tr.active > td {
    background-color:inherit !important;
}

#tblProfesionales2 tr th:nth-child(1), #tblProfesionales2 tr td:nth-child(1) {
    width:300px;
}

#tblProfesionales2 tr th:nth-child(2), #tblProfesionales2 tr td:nth-child(2) {
    width:200px;
}





.list-left li, .list-right li {
    cursor: pointer;
    height: 24px;
    font-size: 14px;
}

.list-group {
    margin-bottom:0 !important;
}

li.list-group-item {
    display: table;
    width:100%;
}

.dual-list li {
    padding: 0 15px;
            
}

.list-arrows {
    padding-top: 40px;
}

.list-arrows button {
    margin-bottom: 20px;
}

div.input-group {
    padding-right: 15px !important;
}

#lisProfesionales2.dual-list .list-group , #lisCR2.dual-list .list-group , #lisEmpresas2.dual-list .list-group  {
    max-height: 35vh;
    overflow:auto;
    margin-top: 8px;
}

@media (min-width: 1200px) {
    .container {
        width:1170px !important;
    }
}