BODY {
	SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-FACE-COLOR: #943018; SCROLLBAR-DARKSHADOW-COLOR: #bd5f73; FONT-FAMILY: Arial; SCROLLBAR-HIGHLIGHT-COLOR: #f5dedf; COLOR: #333333; SCROLLBAR-SHADOW-COLOR: #f5dedf; FONT-SIZE: 12px; FONT-WEIGHT: normal; SCROLLBAR-TRACK-COLOR: #f5f5f5; SCROLLBAR-3DLIGHT-COLOR: #bd5f73
}
.stlimgFondoIbermatica {
	BORDER-BOTTOM: #666666 0px solid; BORDER-LEFT: #666666 0px solid; BORDER-TOP: #666666 0px solid; BORDER-RIGHT: #666666 0px solid
}
.stlCldFondoIbermatica {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 6px
}
A {
	FONT-FAMILY: Arial; COLOR: #3333cc; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: Arial; COLOR: #3333cc; TEXT-DECORATION: none
}
A:hover {
	FONT-FAMILY: Arial; COLOR: red; TEXT-DECORATION: underline
}
.stlBodyHome {
	PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
FIELDSET {
	BORDER-BOTTOM: #315d6b 1px solid; BORDER-LEFT: #315d6b 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; BORDER-TOP: #315d6b 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #315d6b 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
LEGEND {
	PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #505050; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
