<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SII.HCD.Addin.IMQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ClienteWSSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="ClienteWSSoap11Binding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://imq6-svc.imq.dom/do29Clientes/services/ClienteWS.ClienteWSHttpsSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="ClienteWSSoap11Binding"
        contract="IMQClienteWS.ClienteWSPortType" name="ClienteWSHttpsSoap11Endpoint" />-->
      <endpoint address="http://imq6-svc.imq.dom/do29Clientes/services/ClienteWS.ClienteWSHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="ClienteWSSoap11Binding1"
        contract="IMQClienteWS.ClienteWSPortType" name="ClienteWSHttpSoap11Endpoint" />
    </client>
  </system.serviceModel>
  <userSettings>
    <SII.HCD.Addin.IMQ.Properties.Settings>
      <setting name="DefaultIdentifierTypeName" serializeAs="String">
        <value>DNI</value>
      </setting>
      <setting name="DefaultTelephoneType" serializeAs="String">
        <value>Teléfono 1</value>
      </setting>
      <setting name="AdditionalTelephoneType" serializeAs="String">
        <value>Teléfono 2</value>
      </setting>
      <setting name="IMQServiceUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="IMQServicePassword" serializeAs="String">
        <value />
      </setting>
    </SII.HCD.Addin.IMQ.Properties.Settings>
  </userSettings>
</configuration>
