<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="imageSection" type="SII.HCD.Addin.DocumentExtensions.Configuration.DocumentImageConfigurationSection, SII.HCD.Addin.DocumentExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="parameterSection" type="SII.HCD.Addin.DocumentExtensions.Configuration.DocumentParameterConfigurationSection, SII.HCD.Addin.DocumentExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <imageSection tempPath="images">
    <images>
      <add name="CompanyLogo.png" path="images\HCDISLogo.png"/>
      <add name="HCDISLogo.png" path="images\HCDISLogo.png"/>
      <add name="HCDIS_Logo.jpg" path="images\HCDISLogo.png"/>
      <add name="HeaderLogoLeft.jpg" path="images\HCDISLogo.png"/>
      <!--<add name="HeaderLogoRight1.jpg" path=""/>
      <add name="HeaderLogoRight2.jpg" path=""/>-->
      <add name="FooterLogoLeft.jpg" path="images\HCDISLogo.png"/>
      <!--<add name="FooterLogoRight.jpg" path=""/>-->
    </images>
  </imageSection>
  <parameterSection>
    <parameters>
      <add document="*" name="ShowHeaderLogoLeft" value="true"/>
      <add document="*" name="ShowHeaderLogoRight1" value="false"/>
      <add document="*" name="ShowHeaderLogoRight2" value="false"/>
      <add document="*" name="ShowFooterLogoLeft" value="true"/>
      <add document="*" name="ShowFooterLogoRight" value="false"/>
      <add document="*" name="ShowNormalValues" value="true"/>
      <add document="*" name="ShowTemplatesDate" value="true"/>
      <add document="*" name="ShowEpisodePhysician" value="false"/>
      <add document="*" name="ShowCopyright" value="false"/>
      <add document="*" name="SignEnabled" value="true"/>
    </parameters>
  </parameterSection>
</configuration>
