<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>




    <script id="novedadesTpl" type="text/template">
        <div class='offer offer-primary'>
            <div class='shape'>
                <div class='shape-text'>
                    <!--{{title}}-->
                    NEW
                </div>
            </div>
            <div class='offer-content'>
                <button id='btncerrarNovedades' type='button' class='close'>&times;</button><br />
                <p>
                    <!--{{body}}-->
                    Se han producido novedades en la aplicación SUPER.
                    <br />
                    <br />
                    Para verlas, pulsa <a href="../Ayuda/Novedades/Default.aspx">aquí</a>.
                </p>
            </div>

        </div>
    </script>

   




  
</body>
</html>


