<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<clear/>
		<add name="LocalSqlServer" connectionString="Server=IBDISDESA;DataBase=ASPNET;uid=usu_aplicacion;Password=santaclara;app=PROGRESS;"/>
		<add name="ConexionDesarrollo" connectionString="server=IBDISDESA;database=IBERGLOBAL;uid=USU_APLICACION;pwd=santaclara;Trusted_Connection=no;app=PROGRESS;"/>
		<add name="ConexionPruebas" connectionString="server=IBSERVIBD;database=IBERGLOBALPROGRESS;uid=USU_APLICACION;pwd=santaclara;Trusted_Connection=no;app=PROGRESS;"/>
		<add name="ConexionExplotacion" connectionString="Server=IBSERVIBD;database=IBERGLOBAL;uid=USU_APLICACION;pwd=santaclara;Trusted_Connection=no;app=PROGRESS;"/>
	</connectionStrings>
	<appSettings>
		<add key="ExcelExportFormat" value="xlsx"/>
		<add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
		<!-- correo SMTP -->
		<add key="SMTP_server" value="outlook.intranet.ibermatica"/>
		<add key="SMTP_port" value="25"/>
		<add key="SMTP_from" value="PROGRESS@ibermatica.com"/>
		<!--Cambiar el SMTP_to por el de RRHH para que puedan probar (en servidor de producción está puesto  el mail de Ana-->
		<add key="SMTP_to" value="d.velazquez.montana@ibermatica.com"/>
		<add key="SMTP_toRRHH" value="RRHH@ibermatica.com"/>
		<add key="ENTORNO" value="D"/>
		<add key="svcEmail.svcEmail" value="https://ibserviweb:8440/Robocor2Listener/svcEmail.asmx"/>
	</appSettings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.serviceModel>
		<bindings>

			<netTcpBinding>
				<binding name="NetTcpBinding_IsvcEXCEL" closeTimeout="23:59:00" openTimeout="23:59:00" receiveTimeout="23:59:00" sendTimeout="23:59:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
					<reliableSession ordered="true" inactivityTimeout="23:59:00" enabled="false"/>
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
						<message clientCredentialType="Windows"/>
					</security>
				</binding>
				<binding name="NetTcpBinding_IsvcSUPER" closeTimeout="23:59:00" openTimeout="23:59:00" receiveTimeout="23:59:00" sendTimeout="23:59:00" transferMode="Streamed" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<security mode="None"/>
				</binding>
			</netTcpBinding>

			<wsHttpBinding>
				<binding name="WSHttpBinding_IConserva" closeTimeout="00:01:00"
				  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
				  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
				  messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
				  allowCookies="false">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					  enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						  realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						  algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>

		</bindings>

		<client>
			<endpoint address="http://services.intranet.ibermatica/ConservaListener/Conserva.svc"
			  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConserva"
			  contract="svcConserva.IConserva" name="WSHttpBinding_IConserva">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<endpoint address="net.tcp://ibservioffice:8451/IBOffice/svcEXCEL/svcExcel"
			  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IsvcEXCEL"
			  contract="svcEXCEL.IsvcEXCEL" name="NetTcpBinding_IsvcEXCEL">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

		</client>

	</system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
	
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
