
/*Header fixed de la tabla de la pantalla*/
/*Alto del contenedor de la tabla (tbody)*/
.header-fixed > tbody {
    overflow-y: auto;
    max-height: 280px;
}
.numericCol{
  text-align:right;
}
/*Linea seleccionada en la tabla*/
.activa {
    background-color: #d9edf7 !important;
}
.container {visibility: hidden;}
.ibox-title {
    border-style: none solid none;
    padding: 0px 15px 7px;
}
/*Sobreescritura datatable buttons*/
.fa-file-excel-o {
    color:#1f985c;
}
/*a.dt-button {
    margin-right: 18px !important;
}*/

#tablaAsunto_filter, #tablaAccion_filter, #tablaPT_filter{
    float:left;
    font-size: 12px;
    padding-left: 0px;
}

#tablaAsunto, #tablaAccion, #tablaPT{
    cursor: pointer;
}