.bubblewrap{
list-style-type:none;
margin:0;
padding:0;
}

.bubblewrap li{
display:inline-block;
zoom:1; /*Trigger haslayout in IE7 and less*/
*display:inline; /*For IE7 and less*/
position:relative;
width: 62px;
height:62px;
list-style: none;
}

.bubblewrap li img{
position:absolute;
width: 62px; /*default width of each image.*/
height: 62px; /*default height of each image.*/
left:0;
top:0;
border:0;
}


#imgAC {
    top:10px;
}

.bubblewrap .tooltip{ /*CSS for image tooltip (alt attribute of image)*/
    position:absolute;
    font:bold 12px Arial;
    padding:4px;
    /*width:100px;*/
    text-align:center;
    background: white;
    color:#5894ae;
    border: solid 1px #5894ae;
}



#divMarcoAcciones
{
    position:absolute;
    left:852px;
    top: 193px;
    width:115px;
    height:242px;
    /*background-image: url("../../../images/imgMarcoVisados.png");*/
    /*background-repeat: no-repeat;*/
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #E9EBEC, #F9F9F9);
    background: linear-gradient(45deg, #E9EBEC, #F9F9F9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9EBEC', endColorstr='#F9F9F9');
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    /*outline:4px solid #FFF;*/
    border-radius:15px;
    border:2px solid rgb(80,132,159)
}

#divAP { position:absolute;top:35px; left:35px; }
#divAC { position:absolute;top:145px; left:40px; }

#divNumAP 
{
    position:relative; 
    top:40px; 
    left:55px;
    font:bold 24px Arial;
    color:#5894ae;
    width:60px;
    text-align:right;
}
#divNumAC 
{
    position:relative; 
    top:120px; 
    left:50px;
    font:bold 24px Arial;
    color:#5894ae;
    width:60px;
    text-align:right;
}

#visados {
    position:absolute;
    top:8px;
    left:36px;
    font-size:16px;
    color:#5894ae;
}